[2017-10-23 09:37] duskovit opened #3 "java.lang.NoSuchMethodError: No static method zzb"
I am unable to use your SDK

gradle:
[code]

project

[code]

[2017-10-24 06:21] jkasten2 commented on #3
@duskovit Thanks for the full `build.gradle`. I was able to reproduce and fix the issue. Just update the plugin to version 0.7.0.

Note you can now remove your `configurations.all { }` section in your `build.gradle`. This plugin automatically aligns `com.android.support` to the correct version for you.

[2017-10-24 06:21] #3 closed

[2017-11-02 04:29] StevenStarz opened #7 "Error:Cannot change strategy of configuration ':app:sandboxWearApp' after it has been resolved."
Issue from : https://github.com/OneSignal/OneSignal-Android-SDK/issues/357

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`
[code]

[2017-11-09 12:53] franmontiel commented on #7
It is happening to me as well using gradle-plugin 2.3.3 and gradle 3.3.
The problem disappears if I use gradle-plugin 2.2.3 with gradle 2.14.1.

[2017-11-15 00:17] wijnanb commented on #7
We are experiencing the same issue.
The downgrade to gradle-plugin 2.2.3 with gradle 2.14.1 works for us too.

[2017-11-16 08:26] kafabih4raka opened #8 "method plugins() not found on onesignal gradle plugin"
Hello, I have bugs hehe, in your documentation I must adding this in the app/gradle

[code]

but in the logs I have error as seen below

`Error:(4, 0) Could not find method plugins() for arguments [build_30kl937vqpu07tx72a2sks80r$_run_closure1$_closure2@27c361dd] on object of type org.gradle.api.internal.initialization.DefaultScriptHandler.`

here the gradle project setup
[code]

[2017-11-16 08:58] pabloppp opened #9 "Unable to configure in multimodule project"
We're trying to use the OneSignal Android SDK in a multimodule Android app, and we're finding it impossible to configure.

Here's the steps I follow:
- In the base app build.gradle file I add
[code]

- In the presentation module build.gradle I add
` apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin' `

When I try to build the gradle project I get the following error:
[code]

Then if

[2017-11-21 11:51] Javieraeros commented on #9
Same issue here... Any solution?

[2017-11-22 10:21] jkasten2 commented on #9
@pabloppp Can you provide each `build.gradle` in your project so we can look into producing the same error?

[2017-11-28 08:18] myeonginwoo commented on #9
i hava same Issue.. plz....

[2017-11-30 14:22] aldoborrero commented on #9
Happens same to me. Here I leave the build.gradles

For app:

[code]

For library:

[code]

The comments // buildConfigVariables has groups of those properties but not copied for obvious reasons and same happens in // more compile dependencies

Using Android Studio 3.0, Gradle 4.1 with plugin 3.0.1.

Ping me if you need more information to track down this bug. The behavior I've obtained is the sam

[2017-12-08 07:51] #9 closed

[2017-12-08 08:01] jkasten2 commented on #9
@pabloppp @Javieraeros @myeonginwoo @aldoborrero Thanks for reporting this issue. Just fix this issue in the commit above. We will create a release next week with this fix included.

[2017-12-08 21:00] #7 closed

[2017-12-08 22:40] jkasten2 commented on #7
@StevenStarz @franmontiel @wijnanb Just fixed this in the commit above and it is now released in [version 0.8.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.0).

[2017-12-08 22:40] jkasten2 commented on #9
It is now released in [version 0.8.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.0).

[2017-12-08 22:45] jkasten2 commented on #8
@kafabih4raka You need to move the following to the top of your `app/build.gradle`.
[code]

What gradle version are you using? Gradle 4 will tell you if you have plugins in the correct spot. Check the `gradle-wrapper.properties` files to get the Gradle version you are using.

Also we just release a [0.8.0 version](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.0) which has f

[2017-12-09 01:20] jkasten2 commented on #8
Someone else also run into this issue, I can confirm that moving `plugins { }` to the top of your `build.gradle` will fix the issue.

https://github.com/OneSignal/OneSignal-Android-SDK/issues/382

[2017-12-09 01:20] #8 closed

[2017-12-15 10:57] jkasten2 opened #14 "Dependencies ending with inclusive version ranges"
Example, the version range `[10.2.1, 11.6.99]` will be transformed into an exact version of `11.6.99`. This will result in no version found in most cases however, the original version range will result in the latest 11.6.XX version by Gradle.

Any defined version ranges should be maintained if it is the only dependency defined for the group. If there are multiple versions ranges for the same depen

[2017-12-22 07:24] Javieraeros opened #15 "Unexpeted type tag 13996 found."
When adding the gradle plugin I´m getting this error (the tag number changes every time)
Any idea?
### Project Setup
`build.gradle`
[code]

`presentation/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
[code]

[2018-01-01 03:47] laudarch commented on #15
Am getting tag errors too.

[2018-01-05 13:16] smeurer commented on #15
`multiDexEnabled true` seems to be the cause. My simple TestApp runs without errors without multidex, but if I add the line, the tag error occurs. Though this is the cause, it is no solution, as nearly all apps use multidex.

[2018-01-10 11:40] zulfuadar commented on #15
Have you fix it? I got same error after adding "multiDexEnabled true".
#  My app level modul gradle

plugins {
    id 'com.onesignal.androidsdk.onesignal-gradle-plugin' version '0.8.0'
}
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'

repositories {
    maven { url 'https://maven.google.com' }
    maven { url 'http

[2018-01-12 10:56] janbolat commented on #15
Any solution?

[2018-01-12 22:00] jkasten2 opened #16 "Different runtime and compile error when version is bumped due to targetSdkVersion"
The follow error occurs with the gradle "build" task when using an older OneSignal SDK but too new of a `targetSdkVersion` version. The OneSignal version is bumped to a compatible version for the compile task but not for the runtime task.
[code]

This is reproducible in the unit test [`"Upgrade to compatible OneSignal SDK when targetSdkVersion is 26"`](https://github.com/OneSignal/OneSignal-Gradle

[2018-01-12 23:13] #15 closed

[2018-01-12 23:23] jkasten2 commented on #15
@smeurer Thanks for reporting the root setting causing the issue. I was able to reproduce the issue in the a unit test.

@janbolat @zulfuadar @Javieraeros Created a fix in the commit above and released version 0.8.1 with this fix included.

[2018-01-14 10:56] zulfuadar commented on #15
@jkasten2 yeaaahh. It is fixed. Thanks..

[2018-01-16 01:40] jkasten2 opened #18 "Not compatible with an Android library project"
The following error is thrown when used with a Android library project.
[code]

Originally reported in https://github.com/OneSignal/OneSignal-Android-SDK/issues/409

[2018-01-19 05:07] jkasten2 opened #20 ""Cannot get property 'apiLevel' on null object" thrown when project doesn't set targetSdkVersion"
Android projects don't require `targetSdkVersion` to be set. However this plugin does not handle this correctly which ends up throwing the following error.
[code]

The following line that need to be updated.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/0.8.1/src/main/groovy/com/onesignal/androidsdk/GradleProjectPlugin.groovy#L166

[2018-02-09 10:01] leduchuy89vn commented on #18
Any hase solution for this bug?

[2018-02-14 15:26] alexnivanov commented on #20
@jkasten2 thank you so much man, I was ready to break my head on this message 👍

[2018-02-21 08:57] amitav13 opened #21 "Could not find method com.onesignal:OneSignal:[3.7.1, 3.99.99]() for arguments[] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler."
I'm trying to add OneSignal to the project while keeping my compile version at 26. Added the `exclude group: 'com.android.support', module: 'appcompat-v7'` to do the same.

I can't keep the plugins block at line 1 like the docs say - gradle tells me the buildscript block needs to be at the top.

Suggestions?

### Project Setup

Gradle version is 4.1.

`build.gradle`
[code]

`app/build.gradle`
[cod

[2018-02-21 09:14] jkasten2 commented on #21
@amitav13 The Gradle error is due to a syntax error with the following.
[code]

It needs to be wrapped in parenthesis to use exclude group.
[code]

However since `'appcompat-v7'` is not a dependence of OneSignal you can use the normal compile/implementation
[code]

[2018-02-21 11:25] amitav13 commented on #21
Seems you were right on both points above. I'm still getting an error with different versions at compile time vs run time (26.1.0 and 27.0.2), but I suspect that's Studio misbehaving. Running `clean assemble` via command line builds a working APK.

I've bitten the bullet and updated my compile and support libs to 27 now, working as expected. Thanks for the quick response!

[2018-02-21 11:26] #21 closed

[2018-03-15 13:02] ron-k commented on #18
Encountered same issue. For now chose to not include the plugin in the library, but instead integrate it  (e.g. add the dependencies) manually

[2018-03-28 23:09] jkasten2 opened #22 "Detect tools:node="replace" on the application tag in the main AndroidManifest.xml"
Some app have the following in their main `AndroidManifest.xml` which causing OneSignal and Google Play services not to work or crash the app do to missing meta-data tags, services, actives,  etc.
[code]

This plugin should try to detect this and throw a build error to fail fast, instead of it being coming a hard to debug runtime error.

[2018-04-01 19:36] #20 closed

[2018-04-01 19:36] jkasten2 commented on #20
Fixed in PR above, will be included in the next release

[2018-04-01 22:38] #18 closed

[2018-04-01 22:49] jkasten2 commented on #18
Fixed in PR above and merged into master, will be a part of the next release

[2018-04-01 23:51] #16 closed

[2018-04-07 06:04] #14 closed

[2018-04-07 06:06] jkasten2 commented on #18
@leduchuy89vn @ron-k This fix is now available in the [0.8.2 Release](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.2)

[2018-04-07 06:06] jkasten2 commented on #20
@alexnivanov This fix is now available in the [0.8.2 Release](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.2)

[2018-05-06 04:21] jkasten2 opened #32 "Incompatible with Google Play services and Firebase 15+ version scheme changes"
Google has changed the versioning relationship between `com.google.android.gms:play-services-*` and `com.google.firebase:firebase-*` in version 15+ of these libraries. Firebase versions and Google Play services will now no longer have the same version numbers available between them.
https://android-developers.googleblog.com/2018/05/announcing-new-sdk-versioning.html

This means the following in no

[2018-05-22 20:30] #32 closed

[2018-05-23 22:36] jkasten2 opened #35 "Clean up - finalAlignmentRules runs more often then needed"
[`finalAlignmentRules`](https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/fc7b3e8b0856b8572e4556f910e2bef20c3a68f5/src/main/groovy/com/onesignal/androidsdk/GradleProjectPlugin.groovy#L351) runs on every `DependencyResolveDetails` instead of just once at the end before applying version overrides. This makes debugging this logic harder and as some performance impact so this should be cleaned

[2018-05-24 10:13] sys1yagi opened #36 "Update Automatically aligns versions."
Hi,

Firebase and Play Services libraries now no longer align version numbers.

- play-services: https://developers.google.com/android/guides/releases
- Firebase: https://firebase.google.com/support/release-notes/android

So, I think you need to review the alignment of the automatic version of this plugin.

I faced error like below 😢

[code]

Probably the following settings are causing problems.

[2018-05-24 13:16] sannyo opened #37 "com.google.gms:google-services Compatibility Issue - com.google.firebase:firebase-iid is being requested by various other libraries at [[15.1.0,15.1.0]], but resolves to 16.0.0"
After updating to the semantinc versioning the OneSignal Gradle plugin fails.
When I remove the OneSignal gradle plugin (v0.10.1) the sync succeed, otherwise it fails with the following error.

### Full Error
[code]

### Dependency Tree
The firebase com.google.firebase:firebase-iid package is referenced from the dependencies below.

[code]

[2018-05-24 22:15] jkasten2 commented on #36
@sys1yagi Can you make sure you are using version 0.10.0 or higher? In this release exact version alignment is only done on versions under 15 for Google's libraries. If there is a mix of below 15 and above or at 15 then all below 15 modules will be bumped to `[15.0.0, 16.0.0)`
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.10.0

[2018-05-24 22:58] jkasten2 commented on #37
@sannyo Looks like you are using the `com.google.android.gms:strict-version-matcher-plugin` Gradle plugin as well in your project? Can you attach your full root `build.gradle` and your `app/build.gradle` so we can reproduce the issue?

Both this plugin and the strict version matcher solve the same problem of mismatched versions but in different ways. This plugin aligns versions automatically by up

[2018-05-24 23:33] sys1yagi commented on #36
@jkasten2

wow.. I using `0.8.1` :flushed:
and set `0.10.1` then fixed it :joy:

I'm Sorry, I misunderstood :bow:

thank you so much !

[2018-05-24 23:33] #36 closed

[2018-05-24 23:56] jkasten2 commented on #36
@sys1yagi No problem, you can use the following range to keep updated with the latest `0.X` version.
[code]

Noted in the [setup guide](https://github.com/OneSignal/OneSignal-Gradle-Plugin#setup)

[2018-05-25 06:06] sannyo commented on #37
@jkasten2 Thanks for the reply.
Ohh I see now. I am not explicitly using the strict-version-matcher-plugin but the plugin is part of the `'com.google.gms:google-services:4.0.0'` plugin so basically the problem is what you mentioned.
It is pretty easy to reproduce, but you need to have a project/app created in Firebase and to have a google-services.json so the other plugin could function normally.

[2018-05-25 08:38] jkasten2 commented on #37
@sannyo Ah yes, the `google-services plugin` also as the same logic. Thanks for the details, I was able to reproduce the issue. I'll see what we can do in this case to make sure this gradle plugin compatible with this.

In the mean time right after the `apply plugin: 'com.google.gms.google-services'` at the bottom of your `build.gradle` the following can be added to work around the issue.
[code]

[2018-06-05 21:54] Ericky14 opened #39 "Version Conflict"
## Please Add The Following

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`
[code]

[2018-06-05 23:43] jkasten2 commented on #39
@Ericky14 Thanks for the details. I tried to copy a few settings from your project that I suspected to be the issue `compileSdkVersion`, `targetSdkVersion`, `debugCompile "com.android.support:design:$supportVer"`, etc but didn't have any luck.

Are you able to create this issue with a new NativeScript project? If so can you share the project here so we can run gradle on it to reproduce the issue q

[2018-06-06 03:28] #37 closed

[2018-06-06 03:31] jkasten2 commented on #37
@sannyo We set `disableVersionCheck` flag to `true` to resolve this build error in the PR above. This is due to both trying to solve the same fundamental problem of version handling but in two different incompatible ways as noted above in my https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/37#issuecomment-391891265 post

[2018-06-06 04:36] jkasten2 commented on #39
@Ericky14 I tried out NativeScript with this Gradle plugin and the [roblav96/nativescript-onesignal](https://github.com/roblav96/nativescript-onesignal) SDK and could not reproduce the build error. However I believe the NativeScript HelloWorld project I created is using a newer gradle configuration then yours. More details below.

`tns info` on my project I tested with.
[code]

I am also adding th

[2018-06-06 15:23] Ericky14 commented on #39
Here is the output of that command.
[code]

[2018-06-06 18:06] ar170891 opened #43 "Hola tengo problema con este Error de Onesigna. Alguien Me puede ayudar ?"
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'

buildscript {
    repositories {
        maven { url 'https://plugins.gradle.org/m2/'}
        maven { url 'https://maven.fabric.io/public' }
    }
    dependencies {

        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.10.1, 0.99.99]'
        classpath 'io.fabric.tools:gradle:1.+'
    }
}
   apply plugin: 'co

[2018-06-06 18:06] ar170891 opened #44 "Hola tengo problema con este Error de Onesigna. Alguien Me puede ayudar ? Failed to apply plugin [id 'com.onesignal.androidsdk.onesignal-gradle-plugin']"
[code]

[2018-06-07 06:16] jkasten2 commented on #43
@ar170891 This is duplicated ticket. Closing in favor of #44 since you provide a bit more details in the title there.

[2018-06-07 06:16] #43 closed

[2018-06-10 02:45] jkasten2 opened #48 "Support root project build.gradle OR Provide a detailed error of the issue"
## Issue
Currently if this plugin is applied to the root `build.gradle` instead of `app/build.gradle` the following error is shown.
[code]

## Solutions
Solutions below are in order of the best outcome
### 1. Solution - Apply plugin to all projects
If possible this plugin should apply itself to all Android projects

### 2. Solution - Provide a detailed error
We should provide a detailed message to

[2018-06-12 16:44] ron-k opened #52 "Slow build time"
After integrating the plugin, the build time of my project took significant impact.
The root cause is "pre**DebugBuild" task that previously (without OneSignal-Gradle-Plugin)  was 1-2 seconds, now its around 25 seconds. It takes same time even in case the task is up-to-date
Without sharing the build file (proprietary), my project structure includes multi-dimensional flavors with ~4 flavors in each

[2018-06-12 21:54] jkasten2 commented on #52
@ron-k Could you share your dependencies if you can't share your full `build.gradle`? Also can you run your `./gradlew` task with `--info` and share the OneSignal entries?

Could you lastly share the following about your project?
* Version of gradle you are using
   - This will be in the `gradle/wrapper/gradle-wrapper.properties` file in your project
*  Version of the Android Gradle Plugin. This i

[2018-06-15 11:03] sannyo commented on #44
I think this would be the error log

`Project evaluation failed including an error in afterEvaluate {}.
java.lang.IllegalStateException: compileSdkVersion is not specified.
        at com.google.common.base.Preconditions.checkState(Preconditions.java:456)
        at com.android.build.gradle.BasePlugin.createAndroidTasks(BasePlugin.java:692)
        at com.android.build.gradle.BasePlugin.lambda$nul

[2018-06-15 18:39] jkasten2 commented on #44
@sannyo I checked @ar170891 `build.gradle` above and I see `compileSdkVersion` is in there.
Also the error `com.google.common.base.Preconditions.checkState` is coming from a Google library. Looks to be a check from the AGP (Android Gradle Plugin) and I don't see OneSignal in the stack trace.

@sannyo If your no longer getting this issue after removing the OneSignal Gradle Plugin please open new is

[2018-06-19 21:21] jkasten2 commented on #52
@ron-k We made some improvements on this in 0.11.0.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.11.0

We are also looking to clean up some other unnecessary rechecking in future updates. But if you can provide more details we can try to focus more during this on your specific cases.

[2018-06-26 07:43] vishrut2207 commented on #37
Try to set

classpath 'com.google.gms:google-services:3.2.1'
instead of

classpath 'com.google.gms:google-services:3.3.0'
It's helped in my case, but I don't know the cause of the error.

[2018-06-26 21:30] jkasten2 commented on #37
@vishrut2207 The error is due to version checks Google added in version 3.3.0 of their `com.google.gms:google-services` Gradle Plugin. It's very strict on failing the build if any dependencies override any other module versions.

This OneSignal plugin however upgrades or downgrades packages automatically instead when possible so you don't need to manually fix version conflicts on your own.

[2018-06-29 07:35] jkasten2 commented on #44
@ar170891 Closing due to inactivity, please provide the details form my previous reply and we can look into it. Thanks.

[2018-06-29 07:35] #44 closed

[2018-07-12 22:02] jkasten2 opened #53 "firebase-messaging should be updated if firebase-core is updated to 16"
## Issue

`com.google.firebase:firebase-messaging:15.0.2` is not compatible with `com.google.firebase:firebase-core:16.0.1`.
[code]

It results in the following runtime crash if this is the case.
[code]

## Solution
`firebase-messaging` should be automatically updated to `17.0.0` if `firebase-core` is `16.0.0` or newer. This plugin currently has a [UPDATE_PARENT_ON_DEPENDENCY_UPGRADE](https://gith

[2018-07-13 07:17] btwarog commented on #37
It's working for normal app version, but it's not working for test application, I mean instrumented tests. Even workaround does not help.

[2018-07-13 20:18] jkasten2 commented on #37
@btwarog Can you share your `build.gralde` files so we can look into reproducing the issue?

[2018-07-24 23:43] jahirfiquitiva opened #54 "What does 'not found in maxSupportVersion' warning mean?"
### Project Setup
`app/build.gradle`
[code]

### Logs
[code]

[2018-07-25 10:33] 2x2xplz opened #55 "NPE - From detectProjectState -> compareVersions"
I'm upgrading from an older version of OneSignal where all the config was done manually by editing the manifest, added GCM manually, etc. Now I'm on Android Studio 3.0.1 with Gradle 4.4 and com.android.tools.build:gradle:3.1.3 (also I had to enable multidex) and cannot get the plugin installed:
[code]
2 things:
1) other plugins load fine, not sure why this one doesn't
2) I liked doing the config b

[2018-07-26 01:03] jkasten2 commented on #55
@2x2xplz Thanks for reproducing the stacktrace. Can you provide your `build.gradle` so we can try reproducing the issue with it?

This plugin at a high level makes sure compatible versions of `com.google.android.gms`, `com.google.firebase`, and `com.android.support` are used by either downgrading or upgrading these versions automatically. Running `./gradlew app:dependencies` will give you the fini

[2018-07-26 01:16] jkasten2 commented on #54
@jahirfiquitiva This warning means that we haven't defined a maximum Android Support Library for   `compileSDKVersion 28` yet. It falling back to `'28.+'` as a safe default which is correct in this case.

We will add this to the version list in the next version so this warning will not show in the future.

[2018-07-26 01:57] jahirfiquitiva commented on #54
Is it safe or ok to keep using this version in the meantime? Or I must downgrade the `compileSDKVersion`?

[2018-07-26 18:45] jkasten2 commented on #54
@jahirfiquitiva Yes, it is safe to ignore this warning. The correct version of the Android Support Library is being used in this case

[2018-07-26 18:45] #54 closed

[2018-07-26 18:51] jkasten2 commented on #55
@2x2xplz I see, can you still provide your `build.gradle` so we can reproduce this issue?

As long as you are not using a local `OneSignalSDK.jar` file then you won't have to touch your `AndroidManifest.xml` for a basic setup.

In your case you can remove the top 3 `<use-permission ...>` tags. The other ones you need to keep as those are override settings for OneSignal. Expect for the `<receiver .

[2018-07-26 20:49] 2x2xplz commented on #55
Again, thank you for the replies. OK I may have have figured it out. Your plugin must be first, before Android and before Kotlin. It did compile when I moved it. However those plugins say they need to be at the top. This is my issue with these plugins. If it can't run independently, I have to assume its because it is making some underlying changes or relying on specific settings. If your plugin fa

[2018-07-26 21:00] jkasten2 commented on #55
@2x2xplz `onesignal-gradle-plugin` should work either before orafter `com.android.application`. I haven't tested the other plugins so I can't say for sure if their could be any issues but I won't think so.

Which version fo the AGP (Android Gradle Plugin) are you using? This would be in your root level `build.gradle` file under `buildscripts`. Look for `com.android.tools.build:gradle`.
[code]

Ver

[2018-07-26 21:21] 2x2xplz commented on #55
Yes, plugin 3.1.3.
Android Studio 3.0.1 on Windows 7 64bit.
Gradle version 4.4
The error is "Failed to apply plugin"

[code]

[2018-07-26 21:59] jkasten2 commented on #55
@2x2xplz Thanks for the details, we will try to reproduce this with what you provided.

[2018-07-27 07:10] guyman commented on #53
This issue also crashes OneSignal for Cordova, any idea how to fix there ?

[2018-07-27 17:38] marioskonstantinou commented on #37
@jkasten2 your solution seems to be working for me. Would you mind elaborating why this works please?

[2018-07-30 06:08] kodeine commented on #48
@jkasten2 i am getting the following error even though /build.gradle in root does not have anything related to onesignal. But app/build.gradle has it.

`app/build.gradle`
[code]

`ERROR`
[code]

[2018-08-02 19:02] #53 closed

[2018-08-02 19:02] #55 closed

[2018-08-03 01:53] jkasten2 commented on #53
@guyman This is now fixed in the 0.11.1 update. For Cordova you may need to removing and re-add the Android platform if simply rebuild your project doesn't to get this updated automatically.

[2018-08-13 04:46] mradzinski opened #60 "Support for Android SDK 28 required"
Android SDK 28 (Pie) has been officially released, yet the plugin only supports `compileSdkVersion` and all `com.android.support` dependencies up to `27.+` as can be seen on [this](https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/fc184c53afeb99655c8c5c1d49a9d893ee44f59f/src/main/groovy/com/onesignal/androidsdk/GradleProjectPlugin.groovy#L93) permalink.

[2018-08-16 07:29] saadmutahar commented on #37
Can someone please help me out to solve gradle build error.

These are the build.gradle and error files.
<img width="1247" alt="error" src="https://user-images.githubusercontent.com/23195953/44194610-2fb1e780-a13f-11e8-9cd0-2c20f4cb6a73.png">

<img width="755" alt="build gradle project" src="https://user-images.githubusercontent.com/23195953/44194499-d9dd3f80-a13e-11e8-82ec-e3e2f2509205.png">
<img

[2018-08-16 17:34] robersant opened #61 "Last version conflicts with cordova-plugin-googleplus"
Last version of this plugin conflicts with cordova-plugin-googleplus in Phonegap Build (PGB). This didnt happen until August 14th, so any change introduced that day makes it fail.

The Task.leftShift(Closure) method has been deprecated and is scheduled to be removed in Gradle 5.0. Please use Task.doLast(Action) instead.
	at build_2lisanf8inuocv7kekszhk0zg.run(/build.gradle:143)
The JavaCompile.set

[2018-08-16 22:38] jkasten2 commented on #37
@saadmutahar Can you run the following and provide the full output?
`./gradlew app:dependencies --info`

Also please provide text versions of your screenshots above, we can try your config but will need it to be copy-pasteable

[2018-08-16 22:56] jkasten2 commented on #61
@robersant This plugin is now upgrades to `+` (latest) versions instead of ignoring them. The ignoring wasn't intentional and was fixed in [https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.11.2](0.11.2). However this does cause different behavior is upgrading Android dependencies.

In your case you are most likely using an old version of PhoneGap in your cli. I recommend updatin

[2018-08-23 07:50] btwarog commented on #37
@jkasten2
I found the cause of the issue, I had in **build.gradle** newest version of _firebase-messaging_, _firebase-core_ and _play-services-analytics_ added by myself and they were working as they supposed but it occurred that your OneSignal library is adding play-services-location in old version, not supported by newest google play services plugin. The resolution of the issue was adding _com.g

[2018-08-23 19:35] jkasten2 commented on #37
@btwarog I have seen older versions being used on the `compile` target. However once it gets to the build types step of either debug or release the correct version will be used. Try checking or selectively running `debugCompileClasspath`.
[code]

You should then see this;
[code]

[2018-08-24 02:08] jkasten2 commented on #61
@robersant Closing this issue due to inactivity.

If you are still seeing an issue please open a new issue under [OneSignal-Cordova-SDK](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues) as this is the SDK related to your issue. Thanks

[2018-08-24 02:08] #61 closed

[2018-08-24 02:09] jkasten2 commented on #52
@ron-k Closing due to inactivity. We will need more details to investigate the slow down you are seeing. Thanks.

[2018-08-24 02:09] #52 closed

[2018-08-27 05:17] saadmutahar commented on #37
@jkasten2
I noticed the main issue is the conflict between  implementation 'com.github.ar-android:DrawRouteMaps:1.0.0' and     implementation 'com.google.android.gms:play-services:15.0.0'.

Two weeks ago this same code was working, then suddenly stop building.

[fulloutput.docx](https://github.com/OneSignal/OneSignal-Gradle-Plugin/files/2322470/fulloutput.docx)

[buildGradleApp.docx](https://githu

[2018-08-28 04:49] jkasten2 commented on #37
@saadmutahar Thanks for reporting. Can you provide a [gist](https://gist.github.com/) of these instead of using `.docx` files? We can look into this after you provide this, Thanks.

[2018-08-28 04:53] jkasten2 commented on #39
I was not able to reproduce this issue with native script 4.1 so I believe 4.0.1 was using an older version of Gradle and/or the Android Gradle Plugin. This plugin must be defined first if using an version of the older than Android Gradle Plugin 3.0 which most likely was the issue.

[2018-08-28 04:53] #39 closed

[2018-08-28 04:56] jkasten2 commented on #48
@kodeine I recommend making sure you have the latest Cordova version 8.0.0 and the project is also using Cordova android@7.0.0 or newer.

Please open a new issue on [OneSignal-Cordova-SDK/issues](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues) if you are still seeing an issue.

[2018-08-28 05:04] saadmutahar commented on #37
@jkasten2 Yes of-course. This is a gist for all three files.
https://gist.github.com/saadmutahar/c8891652f29377be3275ae4e31700b27

Thank you.

[2018-08-28 05:26] jkasten2 opened #62 "Limit com.google.android.gms:play-services to 12.0.1"
Google stopped updating `com.google.android.gms:play-services` after 12.0.1 it is now split up into different pieces to make your app smaller. However this plugin doesn't lock this dependency to an upper limit. This creates a build error noted below.

### Project Setup
`app/build.gradle`
[code]

### Full Error
[code]

[2018-08-28 05:27] jkasten2 commented on #37
@saadmutahar Thanks for the details. I found the root of the issue and created a ticket on DrawRouteMaps's github issue tracker with a possible work around.
https://github.com/ar-android/DrawRouteMaps/issues/20

I also created an issue on this repo to automatically resolve a dependency mismatch like this in the future.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/62

[2018-09-07 12:50] JeetSingh04 commented on #32
@jkasten2  How did you overcome this?

[2018-09-10 04:39] fazalBykea opened #64 "Fatal Exception: java.lang.NoSuchMethodError: No static method getLong"
### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### **Device Data**

**Device**
Brand: samsung
Model: SM-G610F
Orientation: Portrait
RAM free: 387.61 MB
Disk free: 1.03 GB
**Operating System**
Version: 7.0
Orientation: Portrait
Rooted: No
**Crash**
Date: Sep 9, 2018, 10:47:30 PM
App version: 4.32 (25)

Your help will be highly appreciated

[2018-09-13 14:44] TOrnelas opened #65 "Cannot change strategy of configuration after it has been resolved."
Hey, I'm currently trying to setup OneSignal on my app and I'm getting the following error. While we are at it, is there a way to make the _manifestPlaceholders_ depend on an app flavor? (to user a different onesignal_app_id per flavor)

### Project Setup
`build.gradle`

[code]

`app/build.gradle`

[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`

[code]

[2018-09-16 12:39] giannign1 opened #66 "OneSignal Plugin conflict with GradleWrapper 4.10 and AndroidBuildGradleTools 3.3.0-alpha10. (Project#afterEvaluate)"
### Project Setup

`gradle/wrapper/gradle-wrapper.properties`
[code]

`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

You can solve by:
1. Removing the OneSignal plugin......... but obviously is not an option
2. Downgrading to `gradle-wrapper 4.9-all` and `classpath 'com.android.tools.build:gradle:3.3.0-alpha09'`

[2018-09-16 12:47] giannign1 commented on #66
` ./gradlew app:dependencies --stacktrace`

        at org.gradle.configuration.project.LifecycleProjectEvaluator.wrapException(LifecycleProjectEvaluator.java:79)
        at org.gradle.configuration.project.LifecycleProjectEvaluator.addConfigurationFailure(LifecycleProjectEvaluator.java:73)
        at org.gradle.configuration.project.LifecycleProjectEvaluator.access$400(LifecycleProjectEvaluator.j

[2018-09-17 05:51] Arkuda commented on #66
Yep, same problem

[2018-09-18 10:29] jkasten2 commented on #32
@JeetSingh04 This issue was fixed in version [0.10.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.10.0) of this plugin. Make sure you are using this version or newer. Please open a new issue with all the as many details as you can if this is already updated in your project.

[2018-09-18 10:32] jkasten2 commented on #64
@fazalBykea Thanks for reporting this issue. This crash is related to the `OneSignal-Android-SDK`. Can you open a new issue on the [OneSignal-Android-SDK](https://github.com/OneSignal/OneSignal-Android-SDK/issues) repo? We can follow up with you there.
Thanks.

[2018-09-18 10:32] #64 closed

[2018-09-18 21:54] jkasten2 commented on #65
@TOrnelas Thanks for all the details, can you try moving `apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'` to the very top of the file at line 1? I believe one of the other `apply` plugin lines is effecting the ability for this plugin to make version changes.

If this does not help can you try running clean from Android Studio or with `./gradlew clean` and try rebuilding? If it pe

[2018-09-18 21:58] jkasten2 commented on #66
@giannign1 Thanks for reporting with all these details. If you just upgrade the Gradle wrapper to 4.10 without upgrading AGP (Android Gradle Plugin) to `gradle:3.3.0-alpha09` do you still see this same error? This will help us narrow down what broke compatibility. Thanks.

[2018-09-18 22:02] #62 closed

[2018-09-18 22:12] giannign1 commented on #66
Same error with wrapper 4.10 and AGP alpha09

Can't set AGP alpha10 with wrapper 4.9. Minimum supported wrapper version by AGP alpha09 is 4.10

[2018-09-19 09:07] TOrnelas commented on #65
@jkasten2 your first suggestion seems to do the trick =D Thanks a lot!

Regarding the two flavor issue, could you point me into the right direction on that? I have 2 app flavors that should use 2 different one_signal_app_id. I read that it's not possible (yet) to set the id programatically so, is there any way to accomplish this through gradle?

[2018-09-19 18:10] forrestbice commented on #66
Can confirm; I'm also having the same problem

[2018-09-20 08:59] TOrnelas commented on #65
Yeah, got it working by setting them as follows:

[code]

[2018-09-20 23:05] jkasten2 commented on #66
@giannign1 @forrestbice I just tested with `com.android.tools.build:gradle:3.3.0-alpha09` and Gradle 4.10.2 and this is not issue.

The problem is happening on `3.3.0-alpha10` and `3.3.0-alpha11`. We will need to look into what changed in `3.3.0-alpha10` and if it was intended by Google.

Using `com.android.tools.build:gradle:3.3.0-alpha09` or older can be used as a work around until then.

[2018-09-22 15:15] webmasterdragon commented on #36
I have same issue here.

`
PS D:\project\android> ./gradlew clean build --stacktrace

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'project'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.ProjectConfigurationException: A problem occurred configuring root project 'project'.
        at org

[2018-09-22 21:27] jkasten2 commented on #36
@webmasterdragon The following error from your log will happen if you added the gradle apply to the wrong `build.gradle` file.
[code]
Make sure you have added `apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'` to  your `app/build.gradle`, not the root `build.gradle` file

[2018-09-23 18:18] jkasten2 commented on #66
Quick update, I believe the changes that are causing this issue is the following from their release notes.
[code]
https://androidstudio.googleblog.com/2018/09/android-studio-33-canary-10-available.html

Still looking into the details of this changes with `com.android.tools.build:gradle:3.3.0-alpha10` and will let you know when there is a fix available or if I find a workaround in the process in th

[2018-09-23 19:33] giannign1 commented on #66
Great! Thank you!!!

On Sun, 23 Sep 2018, 20:18 Josh Kasten, <notifications@github.com> wrote:

[2018-09-26 13:40] sumeetnsit commented on #37
I am facing a similar issue need help urgently ,
below is the error I am facing
The library com.google.android.gms:play-services-measurement-base is being requested by various other libraries at [[15.0.4,15.0.4], [16.0.2,16.0.2]], but resolves to 16.0.2. Disable the plugin and check your dependencies tree using ./gradlew :app:dependencies.

this is my stacktree
  +--- com.facebook.android:facebook

[2018-09-26 23:35] jkasten2 commented on #37
@saadmutahar The error you are seeing is from com.google.gms.google-services plugin. I didn't see it in your gist but it Google tells you to add it to the last line so maybe you miss copied your `build.gralde.
https://developers.google.com/android/guides/google-services-plugin

You can disable the version check by adding the following noted above https://github.com/OneSignal/OneSignal-Gradle-Plugi

[2018-10-03 20:43] marhaupe opened #68 "OneSignal Warning: Could not get AGP plugin version"
Yesterday, my builds passed without errors. Today, the same build for the same git hash failed to complete. To be more specific, I am receiving the following error message:
[code]

In the build process, I receive this warning: `OneSignal Warning: Could not get AGP plugin version`. These two errors have to be related to each other. How can I make sure that the right AGP plugin version is found?

##

[2018-10-03 22:09] jkasten2 commented on #68
@marhaupe I think you may have added `apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'` to the wrong spot as I don't see it in your `app/build.gradle`. This could also cause both errors  you are seeing.

Can you double check the specific React Native setup instructions noted here?
https://documentation.onesignal.com/docs/react-native-sdk-setup#section-adding-the-gradle-plugin

[2018-10-04 09:36] DevHossamHassan commented on #66
I'm ocuurring this issue also with
com.android.tools.build:gradle:3.3.0-alpha09
and
distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.2-all.zip
any updates ?

[2018-10-04 12:33] marhaupe commented on #68
@jkasten2 I made an error copying the contents of my app/build.gradle file to this issue. The original app/build.gradle contains that section. I edited the issue.

[2018-10-04 20:57] jkasten2 commented on #66
@DevHossamHassan We haven't been able to reproduce any issues with `com.android.tools.build:gradle:3.3.0-alpha09` however any version newer runs into the following error

Can you create a new issue providing all the details in it's template as I believe you are running into some other gradle config issue with this plugin. Thanks.

[2018-10-05 00:50] jkasten2 commented on #68
@marhaupe Thanks, I suspect this might be due to BUCK
[code]

Can you try moving the `libs` folder where BUCK has added all these .jar / .aar files outside your project? You might also need to comment those lines out to prevent it from running to see if it solves your issue.

[2018-10-05 22:45] jkasten2 commented on #68
@marhaupe Thanks for trying that, I'll take a deeper dive into the dependency tree you have above. Some sub dependencies of `firebase-messaging` and `play-services-ads` might not be lining up.
[code]

[2018-10-05 23:02] marhaupe commented on #68
@jkasten2 No sorry for phrasing that the wrong way. I meant that I locked all or at least most of my direct dependencies. Can I help you in any way? Do you think that `OneSignal Warning: Could not get AGP plugin version` is the root of the failing build?

[2018-10-05 23:19] jkasten2 commented on #68
@marhaupe This could be the issue, I see you have another plugin in your `build.gradle`
[code]
I haven't looked into what this does so not sure if this is causing any issues.

Also if you can post the contains of this there might be something in here.
[code]

Lastly if you can reproduce the issue in a new project you can share as a repo or otherwise this will be a big help for me. The more minimum

[2018-10-06 21:04] marhaupe commented on #68
@jkasten2 Here you go: https://github.com/marhaupe/OneSignal-Gradle-Plugin-68. You actually were right with your guess. Removing `apply plugin: 'com.github.alexfu.androidautoversion'` gets rid of that warning. I might have to remove that plugin if it interferes with OneSignal-Gradle-Plugin. Keep me updated what you find out!

[2018-10-10 05:41] amit98038 opened #69 "No static method zzac()Lcom/google/firebase/iid/zzap"
Everything was working fine until I added Firebase Analytics into my project. When I run my app its works perfectly for few seconds and then crashes with this error. Please take a look at it.

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`
[code]

[2018-10-10 09:20] jkasten2 commented on #69
@amit98038 Thanks for all the details! I was able to reproduce and find the issue. `firebase-iid:17.0.3` was being used which is not compatible with any version of `firebase-messaging` below `17.3.1`.

I have added rules to this plugin to upgrade `firebase-messaging` based on `firebase-iid` versions when needed in the PR above. It will be included in the next release

[2018-10-10 19:12] jkasten2 commented on #69
@amit98038 Ah didn't think of that at first, good find. The update won't have any negative effects with this included so you don't have to worry about needing to remove that line later

[2018-10-11 19:02] #69 closed

[2018-10-12 22:20] jkasten2 commented on #69
Fix for this is now part of the 0.11.3 update

[2018-10-18 07:05] Ioane5 commented on #66
Hello!
Any news on this one? Can I update Studio now?

[2018-10-19 14:14] JEKos commented on #66
Any news about that? Is it ok with the 3.3 Canary 13 ?

[2018-10-21 20:01] akyanuj commented on #66
Still same with com.android.tools.build:gradle:3.4.0-alpha01.. checked and reverted back to AGP alpha09

[2018-10-25 03:15] jkasten2 commented on #66
`com.android.tools.build:gradle:3.3.0` compatibility is now fixed in the 0.12.0 release of this plugin!
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.0

[2018-10-25 03:15] #66 closed

[2018-10-30 11:49] Innomalist opened #76 "Can't sync gradle."
During sign an error saying "Resolving this BuildableArtifact can only done during task execution." is throwed. i am using firebase services with v15.0.0 and support library v27.1.0

### Project Setup
buildscript {
    repositories {
        maven { url 'https://plugins.gradle.org/m2/'}
    }
    dependencies {
        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:0.12.1'
    }
}

[2018-10-30 20:34] jkasten2 commented on #76
@Innomalist Thanks for the details. Can you also share your root and `:common` project's `build.gradle` files as well? We will need these two files to reproduce the issue.

[2018-11-01 03:18] jkasten2 commented on #76
@Innomalist It is odd that `google-services.json` is being searched for in `null` directories, however this still happens for me after I reproduced the issue with your config and removed OneSignal.

Can you make sure you have your `google-services.json` in your app folder?

Note that the `google-services.json` file is used by `apply plugin: 'com.google.gms.google-services'`. This isn't required fo

[2018-11-01 10:34] Innomalist commented on #76
@jkasten2 Well at first i suspected it might be for another reason but as soon as i remove few lines of onesignal at beginning of my project's build.gradle the first sync after that throws the error but the next one is fine, As soon as i put onesignal lines back gradle sync fails. I have made a project to reproduce it but weird that i doesn't do that on new project with same build.gradles!! will t

[2018-11-01 20:39] jkasten2 commented on #76
@Innomalist Thanks for trying to repo on a new project. It might be related to something being cached. I recommend trying to run the following.
[code]

If that does not help you can clear the gradle cache for your whole system.
[code]
Soruce
https://stackoverflow.com/questions/13565082/how-can-i-force-gradle-to-redownload-dependencies/38304145

[2018-11-02 17:46] Innomalist commented on #76
Hi again,
I have done that too and still problem persists, But the good thing is i could manage to reproduce issue on a clean project. I have attached project here, In driver's build.gradle if you remove the first line it syncs fine if you have it back it doesn't. Thanks again for your consideration this is really important to me to have this working sooner and i am working on a solution at the sa

[2018-11-02 19:05] jkasten2 commented on #76
@Innomalist Thanks for the project, I am able to reproduce sync issue now! It's very odd though as running `./gradlew assembleDebug` works just fine from the terminal. As well as `./gradlew :driver:dependencies`.

Unfortunately Android Studio does not give a very helpful error when syncing, just getting the following;
[code]
Also it isn't clear what gradle tasks Android Studio runs so I am not abl

[2018-11-06 01:18] jkasten2 opened #77 "Android Studio Sync Failure with apply order when sub project is present"
### Issue
When `com.onesignal.androidsdk.onesignal-gradle-plugin` is applied before `com.android.application` and there is a sub Android library project sync gradle fails in Android Studio but all other `./gradlew` build commands work just fine.

This is a follow up to issue #76 which a work around was found by changing the apply order. However this shouldn't be necessary for an app developer to c

[2018-11-10 01:17] jkasten2 opened #78 "Fix info messages from AGP 3.3.0 - Configuration '...' was resolved during configuration time"
## Please Add The Following

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Warning
[code]

### Dependency Tree
Does not apply

[2018-11-16 13:02] pauldaviddavies commented on #37
I did two things:

In the project level gradle change the version of com.google.gms:google-services:4.0.1 to com.google.gms:google-services:4.2.0
In the app level gradle, change the version of com.google.firebase:firebase-core:16.0.1 to com.google.firebase:firebase-core:16.0.5

[2018-12-11 11:50] sai12346 opened #79 "google plus and one signal is not working together"
hello,

My app is installing successfully, But when clicking app "unfortunately app has stopped" message occurs.

But.if the config.xml contains only onesignal plugin..it wrk perfectly
But if config.xml contains google plus plugin it wont wrk.
This is my config.xml .please give me a solution.

[config.txt](https://github.com/OneSignal/OneSignal-Gradle-Plugin/files/2667401/config.txt)

[2018-12-28 12:02] kalraneeraj24550 commented on #37
The library com.google.android.gms:play-services-base is being requested by various other libraries at [[10.2.4,10.2.4]], but resolves to 15.0.1. Disable the plugin and check your dependencies tree using ./gradlew :app:dependencies.
i am facing error , anyone plz help me

[2018-12-28 16:35] saadmutahar commented on #37
Use the same library version of 15.0.1 in all your  module gradle files. At
the app level it uses 15.0.1 but some of your module currently using
10.2.4. So just avoiding this same all version of goole play services to
15.0.1.

On Fri, Dec 28, 2018 at 3:02 PM kalraneeraj24550 <notifications@github.com>
wrote:

[2019-01-15 03:57] dwisusanto commented on #37
works for me

[2019-01-25 13:49] jemshit commented on #65
Moving plugin declaration to the top solved for me. I got the error when i tried to add
[code]
with plugin `kotlin-android-extensions`

[2019-02-07 10:12] Denmal1982 opened #83 "Execution failed for task ':flutter_one_signal:compileDebugKotlin'."
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.0.0, on Microsoft Windows [Version 10.0.17134.523], locale ru-RU)
[√] Android toolchain - develop for Android devices (Android SDK 28.0.3)
[√] Android Studio (version 3.2)
[√] Connected device (1 available)

`build.gradle`
[code]
`app/build.gradle`
[code]

Full Error
[code]

[2019-02-10 09:10] SuyashBDA opened #84 "Issue with android gradle plugin version 3.3 and OneSignal"
When I updated, `Gradle 4.6 -> 4.10.1` and the `Android Gradle plugin 3.2.1 -> 3.3.1`, I get the following errors:

Show Details
Affected Modules: app

Show Details
Affected Modules: app

Show Details
Affected Modules: app

Show Details
Affected Modules: app

Show Details
Affected Modules: app

While inspecting dependancies I found OneSignal `implementation 'com.onesignal:OneSignal:3.10.6'` was th

[2019-02-11 21:50] JoseGeorges8 commented on #37
@akashjadhav1221 answer for ionic solved it properly!

[2019-02-18 16:13] segicm commented on #37
This helped me with my Ionic project.
https://stackoverflow.com/a/54751193/8826537

[2019-03-06 17:22] 9tailStudios opened #85 "After Updated Google places api then gms.google service is not working"
// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {

    repositories {
        google()
        jcenter()
        mavenCentral()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.2.0'
        classpath 'com.google.gms:google-services:4.2.0'

        // NOTE: Do not place your application dependencies here; t

[2019-03-08 07:29] mayupat13 commented on #68
I have too same issue

[2019-03-18 16:52] max-pro opened #86 "Re: id com.onesignal.androidsdk.onesignal-gradle-plugin not found"
hello All,
I'm new to android here is my app.gradle file. always getting error id com.onesignal.androidsdk.onesignal-gradle-plugin not found

buildscript {
    repositories {
        maven { url 'https://plugins.gradle.org/m2/'}
    }
    dependencies {
        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.11.0, 0.99.99]'
    }
}
apply plugin: 'com.onesignal.androidsdk.onesigna

[2019-03-21 08:33] retyui commented on #86
I have the same problem:
[code]

[2019-03-21 08:47] erhanbicer commented on #86
i have the same problem

[code]

[2019-03-21 08:48] erhanbicer commented on #86
i have the same problem

[code]

[2019-03-21 08:53] laimonas commented on #86
Same issue to me:

* What went wrong:
A problem occurred evaluating root project 'android'.

     Required by:
         unspecified:unspecified:unspecified

[2019-03-21 08:55] erhanbicer commented on #86
problem is solved

[2019-03-21 08:57] eviliana commented on #86
Same here. I don't think it's related to onesignal, looks like Plugin portal has issues [https://status.gradle.com/](https://status.gradle.com/)

[2019-03-21 18:30] jkasten2 commented on #86
@eviliana Thanks for linking the status here. It is seems Gradle's servers are operational now, closing this issue.

[2019-03-21 18:30] #86 closed

[2019-03-21 20:39] wvansl commented on #86
It is working now!

[2019-03-29 07:32] max-pro commented on #86
Thanks,But how to asyn gradle in nativescript instead of removing platform and node_module

[2019-05-06 12:55] demo-Ashif commented on #84
using version 3.10.8 solved my issue.

[2019-05-17 10:46] adarshsonkar commented on #9
Then if I try to change
implementation project(path: ':data') to implementation project(path: ':data', configuration: 'default')

How we change
implementation project(path: ':data') to implementation project(path: ':data', configuration: 'default')

[2019-05-22 17:45] jkasten2 commented on #85
@9tailStudios We just release [0.12.2](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.2) which may have fixed this issue. Can you give it a try?

[2019-05-22 20:28] jkasten2 commented on #84
@SuyashBDA The Google and Firebase libraries should be getting pulled from `https://maven.google.com` however according to the error you are getting Gradle is trying to pull it from `https://s3-ap-southeast-1.amazonaws.com/` instead. I see google is before this aws url in your `repositories { ... }` so this isn't the issue, this is normally the cause of the issue.

Are you getting these errors whe

[2019-05-22 20:33] jkasten2 commented on #79
@sai12346 It looks like https://github.com/meteor/cordova-plugin-googleplus hasn't been updated since 2017 so it's depencies may have not been updated in while.

Have you tried this repo instead which looks more up to date than the meteor fork you are using?
https://github.com/EddyVerbruggen/cordova-plugin-googleplus

[2019-05-23 22:27] CeccoCQ opened #91 "Issue with Gradle Offline mode"
It's simple.
I've imported:
`implementation ('com.onesignal:OneSignal:3.10.5')`
and
`apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'`

but when I try to speed up the gradle build, I get this error:

[2019-05-23 22:35] jkasten2 commented on #91
## Issue
This issue is related to `OneSignal-Gradle-Plugin` not supporting offline mode. Depending on what you have in project and what is in your gradle cache on your system when you are offline you may or may not see this problem.

## Reropdocuding Issue
An simple example project reproducing the issue and / or a unit test added to a fork of this repo in [MainTest.groovy](https://github.com/OneSi

[2019-06-06 18:27] iNoles opened #92 "Android Q API Level 29"
I get this message from the Gradle Console is
OneSignalPlugin: 29 not found in maxSupportVersion rules list.
Assuming max safe default of '29.+' for 'com.android.support'

There is no com.android.support versions for 29 because it is now AndroidX.

I am using the latest versions of the OneSignal Gradle Plugin.

[2019-06-12 02:26] grahammcculloch opened #93 "'Unknown error getting FCM Token' after upgrading dependencies"
OneSignal push notifications were working fine when I was using React Native v0.55.4. After upgrading React Native to 0.59.8 (and several other NPM dependencies) I now get a runtime error (`java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.google.firebase.iid.FirebaseInstanceId.getToken(java.lang.String, java.lang.String)' on a null object reference`, see below

[2019-06-17 18:13] davidcort commented on #76
I ejecuted the comands of jkasten2 and after uninstaledl and reinstalled OneSignal plugin and works. Thanks

[2019-07-01 12:49] zhaoaoranke opened #94 "Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.google.android.gms:play-services-location:[15.0.0, 16.0.0)."
Hi, i am getting this error when resync gradle. Please help

using on
    implementation 'com.onesignal:OneSignal:[3.9.1, 3.99.99]'
Https://status.bintray.com/ It seems that there is no problem，
Please help me, it has been bothering me for a long time.

ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.google.android.gms:play-services-location:[15.0.0, 16

[2019-07-02 03:48] SethChhaihout commented on #66
@giannign1 Thank my love. You save my day.

[2019-07-10 12:51] smrahmadi opened #95 "Problem with Upgrade to com.google.gms:google-services:4.3.0"
After upgrade com.google.gms:google-services from 4.2.0 to 4.3.0

i cant build project and receive this message :

ERROR: Could not get unknown property 'config' for object of type com.google.gms.googleservices.GoogleServicesPlugin$GoogleServicesPluginConfig.

when comment this :
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'
error to disappear

@gdeglin
@leemunroe
@stewartpark
@

[2019-07-10 22:25] jkasten2 commented on #95
@smrahmadi Thanks for reporting the issue. Could you provide the follow details.
1. Full stack trace for the error.
   - If you build with `./gradlew build --info` it should print this.
2. If possible please create and share a simple project reproducing the issue.

[2019-07-10 22:30] jkasten2 commented on #94
@zhaoaoranke If your project can't find `com.google.android.gms` versions 15 or higher this is normally due to `google()` and `jcenter()` being defined out of order in your `build.gradle`. Please follow this answer to fix the issue.
https://stackoverflow.com/a/51139617/1244574

If this does not help please provide a more full log.

[2019-07-11 06:13] smrahmadi commented on #95
at org.codehaus.groovy.reflection.CachedMethod.invoke(CachedMethod.java:104)
        at groovy.lang.MetaMethod.doMethodInvoke(MetaMethod.java:326)
        at org.codehaus.groovy.runtime.metaclass.ClosureMetaClass.invokeMethod(ClosureMetaClass.java:264)
        at groovy.lang.MetaClassImpl.invokeMethod(MetaClassImpl.java:1041)
        at groovy.lang.Closure.call(Closure.java:411)
        at org.gra

[2019-07-11 07:05] smrahmadi commented on #95
Example :
https://github.com/smrahmadi/OneSignalSdkErrorTest
@jkasten2

[2019-07-12 14:54] imarindam commented on #95
Same problem. Temporarily downgrading to 4.2.0 seems solve the issue. But we need a fix.

[2019-07-16 12:50] jerearaujo03 commented on #92
Did you solve it?

[2019-07-25 11:20] lalituttam commented on #95
I think Downgrading to 4.2.0 is the only solution for now.

[2019-07-25 23:03] jkasten2 commented on #94
Closing issue due to inactivity.

[2019-07-25 23:04] jkasten2 commented on #85
Closing issue due to inactivity.

[2019-07-25 23:04] #85 closed

[2019-07-25 23:05] jkasten2 commented on #84
Closing issue as it is now resolved

[2019-07-25 23:05] #84 closed

[2019-07-25 23:08] jkasten2 commented on #93
@grahammcculloch I believe this is fixed in the 0.12.2 release
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.2

If you are still seeing the issue please feel free to reopen this issue.
Thanks.

[2019-07-25 23:08] #93 closed

[2019-07-25 23:13] jkasten2 commented on #68
The original issue of `D8: Program type already present: com.google.android.gms.common.internal.zzb` seem to no longer be happening. Please open a new issue if there there are any related issues.

[2019-07-25 23:13] #68 closed

[2019-07-25 23:14] jkasten2 commented on #79
Closing due to inactivity.

[2019-07-25 23:14] #79 closed

[2019-07-26 07:07] smrahmadi commented on #95
'com.onesignal:OneSignal:3.11.1'  lunch but not enough for fix error , need upgrade classpath dependency

[2019-07-28 20:43] zenith-jacob opened #99 "Does it work with Unity?"
Does it work with Unity?
If so, is the integration the same, as in the native Android? Using mainTemplate.gradle?

[2019-07-29 00:10] #95 closed

[2019-07-29 00:10] #92 closed

[2019-07-29 18:52] jkasten2 commented on #95
This is now fixed in the just released 0.12.3 version
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.3

Thanks!

[2019-07-29 18:53] jkasten2 commented on #92
@iNoles @jerearaujo03 Thanks for reporting! This is now fixed in 0.12.3
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.3

[2019-07-30 18:17] jkasten2 commented on #99
@zenith-jacob Thanks for the suggestion. This plugin now works as of version 0.12.3 with Unity. We now have this part of our documentation.
https://documentation.onesignal.com/docs/troubleshooting-unity#section-androidx-compatibility

[2019-07-30 18:17] #99 closed

[2019-08-18 14:50] gorkemkara16 commented on #22
I get the same error

[2019-08-20 04:51] jkasten2 commented on #22
@gorkemkara16 This isn't an error to fix, instead this is a feature request to add an error/warning if `<application tools:node="replace">` is detected since having it creates issues with most libraries.

I recommend opening a new issue with the problem you are having with this plugin if you are running into an issue.

[2019-09-24 03:18] Galahand opened #107 "(Flutter) App crashes on first launch after install"
### Description
I have a flutter project and i'm using the OneSignal SDK, i read that adding 'com.onesignal.androidsdk.onesignal-gradle-plugin' would fix the problem, but the problem is still there for me.

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`
[code]

[2019-09-27 22:52] jkasten2 commented on #107
@Galahand Can you try moving this section in your root `build.gradle`?
[code]

The `project.evaluationDependsOn(':app')` line is most likely changing the order for resolution. Also the `resolutionStrategy.eachDependency` could also be affecting the order. The `com.android.support` version overriding you have to `27.1.0` can create issues with AndroidX so I also recommend removing it for this reaso

[2019-10-24 13:15] dobrowins opened #110 "Issue when upgrading targetSdk and compileSdk to 29"
### Project Setup
`build.gradle`

[code]

### Full Error
[code]

Compile time error after upgrading upgrading targetSdk and compileSdk  to 29. Even though Q compatibility were supposed to be implemented in 0.12.3 (https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/92) — it seems that it is not.

[2019-10-29 14:30] twocolors commented on #107
[code]

[2019-11-04 08:02] thuan-nguyen-js opened #111 "[React-Native] Gradle plugin conflict with other native library"
#### Hello, I met some issue with Onesignal Gradle Plugin when upgraded my project to React Native 0.60.6.

When apply `com.onesignal.androidsdk.onesignal-gradle-plugin` gradle build always rise Error with below outputs:

Everything fine when disable one signal gradle plugin
[code]

I think `one signal-gradle-plugin` tried to do something out of `one signal` scope. And my temporary solution is don

[2019-11-05 03:30] thuan-nguyen-js commented on #111
@jkasten2 I need your help 🆘

[2019-11-05 05:58] jkasten2 commented on #111
@thuan-nguyen-js The error notes `react-native-background-geolocation`, if you temporarily remove this plugin does your project build? Or do you get an error on the next plugin?

I would recommend removing this section, as it may cause an early evaluation of variants which could be part of the issue.
[code]

If the above 2 things do not help can you reproduce the issue in a minimum example project

[2019-11-05 09:00] thuan-nguyen-js commented on #111
@jkasten2 I tried your 2 solutions.

When I tried remove `react-native-background-geolocation` build successes. But it is one of our core libraries, can not be remove from dependencies.

When I remove
[code]
nothing changed. gradle plugin still conflicting with [mauron85/react-native-background-geolocation](https://github.com/mauron85/react-native-background-geolocation)

Same I tWhen I commented

[2019-11-08 04:17] thuan-nguyen-js commented on #111
@jkasten2 please take a look

[2019-11-13 14:25] keyheha commented on #110
I started with CompileSdkVersion 29, also got the same issue in latest version

OneSignalPlugin: WARNING: OneSignalPlugin: Downgraded 'com.android.support:29.0.0' -> 28 to prevent compile errors! Recommend updating your project's compileSdkVersion!

[2019-11-24 17:42] ajmahesh-12 opened #112 "App Crashing when installing using one signal"
App is crashing when installing using Onesignal cordova plugin on android 9.0. Its working absolutely fine on android 6.0
After removing the plugin app works fine.

Also when building apk. its giving compilation error when
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'
is placed before any apply plugin

When commented this line
apply plugin: 'com.onesignal.androidsdk.onesignal-gr

[2020-01-10 12:31] vagnersabadi commented on #37
For ionic 4 solved with:

rm -Rf platforms/android
cordova plugin rm cordova-plugin-firebase
rm -Rf plugins/ node_modules/
npm cache clean
npm install
ionic cordova run android -l --ssl --debug

[2020-02-11 07:58] SArsalanK commented on #94
@jkasten2 .. The solution that you provided did not help. I had to remove OneSignal SDK from the project to get rid of the problem. Please reopen this issue. Thanks.  :(

[2020-03-17 20:52] jkasten2 commented on #110
Google's last com.android.support library is 28. AndroidX should be used if you need to use API 29 features.

In most cases you can ignore this warning.

However if you are using AndroidX make sure you have Jetifier enabled by following this guide:
https://developer.android.com/jetpack/androidx

This is required when using OneSignal-Android-SDK 3.X.X.

[2020-03-20 06:11] basha97 opened #115 "no versions of com.onesignal:OneSignal are available"
## Please Add The Following
Hii im using the onesignal packages in flutter , it worked for me properly in first build of my project,when i made a second release for my project onesignal throwing error to build .
### Project Setup
`build.gradle`
[code]
buildscript {
    ext.kotlin_version = '1.3.11'
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'c

[2020-03-20 06:53] basha97 commented on #115
This solved me
https://github.com/OneSignal/OneSignal-Flutter-SDK/issues/221#issuecomment-601384681

[2020-03-20 06:53] #115 closed

[2020-03-24 09:25] jkasten2 commented on #107
Closing due to inactivity

[2020-03-24 09:25] #107 closed

[2020-03-25 11:15] kiranLparmar commented on #91
I have the same issue when wanting to build offline, & this is what I have added in my app's build.gradle as a workaround to overcome it:
`
// Workaround for the Onesignal plugin issue, when wanting to build in offline-mode:
configurations.all {
    resolutionStrategy {
        if (project.gradle.startParameter.offline) {
            force 'com.google.android.gms:play-services-base:17.1.0'

[2020-04-06 07:53] nagralepia commented on #37
implementation 'com.google.android.gms:play-services-places:15.0.1'
    implementation 'com.google.android.gms:play-services-location:15.0.1'

chnge version to according to hint given on bubble

[2020-04-06 07:53] nagralepia commented on #37
mine one
    implementation 'com.google.android.gms:play-services-places:17.0.0'
    implementation 'com.google.android.gms:play-services-location:17.0.0'

[2020-04-12 20:21] rendy14s commented on #48
hi @jkasten2 there is an update about this? because i got the same issues here :)

[2020-04-13 07:00] jkasten2 commented on #48
@rendy14s Can you add `apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'` to your  `app/build.gradle` instead of your root `build.gradle` per these instructions?
https://github.com/OneSignal/OneSignal-Gradle-Plugin#setup

[2020-04-13 18:08] rendy14s commented on #48
@jkasten2 can not, i have some error like you.
`Could not get unknown property 'android' for root project 'ProjectName' of type org.gradle.api.Project.`

[2020-04-22 07:42] kroegerama commented on #91
Dynamic ranges are such a bad practice. I really don't understand why OneSignal is using them everywhere.
You can read the following blog post. It covers most of the arguments for using dynamic versions and why the author disagrees:

https://blog.danlew.net/2015/09/09/dont-use-dynamic-versions-for-your-dependencies/

[2020-04-23 16:38] miltonrincon commented on #94
I am facing this issue, appears on my project form one day to another with no one configuration changes @SArsalanK could you resolve the problem?

[2020-04-23 16:43] jkasten2 commented on #94
@miltonrincon @SArsalanK Please provide a bare bones as possible example project reproduce the issue and we can try to reproduce the issue on our end.

[2020-04-23 17:22] miltonrincon commented on #94
This my build.gradle module app

`buildscript {
    repositories {
        maven { url 'https://plugins.gradle.org/m2/' }
    }
    dependencies {
        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:0.12.6'
    }
}

apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'
apply plugin: 'com.apollographql.a

[2020-04-23 20:30] miltonrincon commented on #94
Finally I resolved it. I had to change the build.gradle(:app) implementation to

        exclude group: 'com.google.android.gms', module: 'play-services-base'
        exclude group: 'com.google.android.gms', module: 'play-services-location'
        exclude group: 'com.google.android.gms', module: 'play-services-ads-identifier'
        exclude group: 'com.google.firebase', module: 'firebase-messagi

[2020-04-23 22:57] doonfrs commented on #91
Solved by
1- updating to latest version onesignal_flutter: ^2.4.0
2- Adding
    implementation "com.google.android.gms:play-services-base:16.1"
to dependencies
in android/app/build.gradle

dependencies {
    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"
    implementation "com.google.android.gms:play-services-base:16.1"
}

[2020-05-07 02:11] derohimat commented on #91
thank you, my problem with offline gradle is fixed with this

without

[code]
and also exclude gms

[code]

[2020-05-08 12:24] rborn commented on #110
@jkasten2 I still get this and I updated to last react native sdk and last gradle plugin.
I have an issue another module that seems to behave badly with sdk 28 and it needs 29.

Any way I could enforce this? Thank you

[2020-05-10 20:16] JTripathy4 opened #121 "ERROR: Unable to resolve dependency for ':app@debugUnitTest/compileClasspath': Could not resolve com.google.android.gms:play-services-base:[10.2.1, 16.1.99]"
**Gradle Sync Error**
`ERROR: Unable to resolve dependency for ':app@debugUnitTest/compileClasspath': Could not resolve com.google.android.gms:play-services-base:[10.2.1, 16.1.99]`

**Build.gradle (project)**

   // Top-level build file where you can add configuration options common to all sub-projects/modules.

    buildscript {

        repositories {
            google()
            jcenter()

[2020-05-10 21:37] jkasten2 commented on #121
@JTripathy4 It seems Gradle 5.6.4 (default when using Android Studio 3.6.3) has a bug where if you have any invalid repositories it will fail on the first dependency it tries to resolve. For some unknown reason it only seems to do this on the UnitTest tasks.

These two lines repositories are not valid as they now requires HTTPS instead of HTTP.
[code]

Please update them to the following.
[code]

[2020-05-10 21:49] JTripathy4 commented on #121
Okk sir. So now what changes I need to do kindly say to me one by one.
I will do it right now.
Because I'm struggling for 2 days due to this error.

[2020-05-10 21:53] jkasten2 commented on #121
@JTripathy4 While debugging I did some clean up so feel free to use these copies for your project.

`build.gradle`
[code]

`app/build.gradle`
[code]

[2020-05-10 22:28] jkasten2 commented on #94
@miltonrincon Thanks for the full `build.gradle` files. I was able to reproduce the issue with them.

The issue no longer happens if I remove `maven {url 'https://sdk.uxcam.com/android/'}` and `implementation 'com.uxcam:uxcam:3.1.12@aar'`.

It seems UXCam has a configuration issue that is triggering a Gradle 5.6.4 bug where it can't find dependencies when other repositories have an issue. Also not

[2020-05-10 22:29] #94 closed

[2020-05-10 22:34] jkasten2 commented on #48
@rendy14s I am not sure I understand. What blocks you from being able to modify your `app/build.gradle`? Note that `app` is the default for Android projects, you could have a different name or multiple if modified this.

Can you provide more detail on your project such as if is using something like Flutter, React Native, or a completely native Android project?

[2020-05-10 22:57] jkasten2 commented on #121
@JTripathy4 Closing this issue as resolved since we confirmed it was fixed after the change noted above, however feel free to reply with your findings. We can reopen if it did not resolve for you.

[2020-05-10 22:57] #121 closed

[2020-05-11 05:04] JTripathy4 commented on #121
Now I'm facing some issues whole I'm trying to build the app.
[Check this](https://github.com/bumptech/glide/issues/4211)

[2020-05-11 06:33] JTripathy4 opened #122 "> Task :app:compileDebugRenderscript NO-SOURCE error"
**Getting No Source Error While Build**

[code]

**build.gradle (app)**

[code]

App Getting Crashed While Opening The App:-
![WhatsApp Image 2020-05-11 at 12 00 49 PM](https://user-images.githubusercontent.com/65133539/81530910-6736dd80-937f-11ea-932e-41c632c314e3.jpeg)
![WhatsApp Image 2020-05-11 at 12 00 49 PM (1)](https://user-images.githubusercontent.com/65133539/81530918-6bfb9180-937f-11ea-8

[2020-05-11 13:51] asfdfdfd opened #123 "Could not find any version that matches com.google.firebase:firebase-crashlytics:[15.0.0, 16.0.0)"
I've added OneSignal Gradle Plugin 0.12.7 today and get sync error.

[code]

I'm not sure that Firebase Crashlytics [has 15.0.0 or 16.0.0 version at all].(https://mvnrepository.com/artifact/com.google.firebase/firebase-crashlytics)

[2020-05-11 17:43] jkasten2 commented on #123
@asfdfdfd Can you share your `build.gradle`, `app/build.gradle`, and your Gradle version? We will need to this to reproduce the issue.

[2020-05-11 17:46] jkasten2 commented on #122
@JTripathy4 This doesn't look related to the OneSignal plugin. You are using Firebase libraries that are using AndroidX but haven't migrated your code to using it.

I recommend following Google Migration guide to fix these AndroidX issues.
https://developer.android.com/jetpack/androidx/migrate

[2020-05-11 17:46] #122 closed

[2020-06-13 20:25] jkasten2 opened #127 "Consider versions from Gradle BOM Files"
## Gradle BOM
See Gradle's documentation on what Gradle's bill of materials (BOM) is and what it does.
https://docs.gradle.org/6.5/userguide/platforms.html#sub:bom_import

## Requirements
This plugin needs consider any BOM's when picking which versions to enforce.
Today these are ignored which can result in a version being picked which less than the BOM definition.

## Example
We should ensure `fi

[2020-06-13 20:29] jkasten2 commented on #123
@asfdfdfd We have identified that this plugin does not consider Gradle BOM versions when picking a version for a dependency which I believe is what you are seeing here.

I have opened issue #127 to track the missing BOM support.

As a work around you set a specific `firebase-crashlytics` version like this in your `app/build.gradle`.
[code]

[2020-06-15 21:23] jkasten2 commented on #127
This fix for this was much simpler than first expected as the first guess would have been that a Gradle BOM might have been its own entity. However it was a simple skip of `null` versions which fell back to applying overrides to BOM's constraints which is part of the normal tree.
Fix in #128, part of the now release 0.12.8.

[2020-06-15 21:23] #127 closed

[2020-06-15 21:24] jkasten2 commented on #123
@asfdfdfd This is now fixed in the [0.12.8 release](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.8)

[2020-06-15 21:24] #123 closed

[2020-06-16 00:54] jkasten2 opened #132 "Missing some alignment rules between `com.google.android.gms` group modules; `play-services-basement` & `play-services-base`"
### Issue
Missing some alignment rules between `com.google.android.gms` group modules; `play-services-basement` and `play-services-base`.

We have some here but it is incomplete:
https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/0.12.8/src/main/groovy/com/onesignal/androidsdk/GradleProjectPlugin.groovy#L228-L235

### Project Setup
`app/build.gradle`

[code]

### Full Error
[code]

### Depe

[2020-06-17 23:41] SArsalanK commented on #94
I forgot to add the plugin code
`apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'`
on the top of build.Gradle (app) file of my project which lead to this compile failure.

[2020-07-21 06:26] prakharGargIbirds opened #133 "Flutter Build failed, exception in Gradle task assembleDebug"
FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

     Required by:
         project :app > project :location

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.or

[2020-07-25 07:01] saqibsk commented on #94
Replace Update the Classpath:

classpath 'com.android.tools.build:gradle:3.6.4'

[2020-07-26 06:37] jkasten2 commented on #133
@prakharGargIbirds
From your log above it is looking for `com.google.android.gms:play-services-location` in the wrong locations. Please make sure you have `google()` before `jcenter()` in your root `build.gradle`.
Example:
[code]

[2020-07-26 06:37] #133 closed

[2020-07-28 04:02] ajaymalik14 opened #134 "Getting Build error with Inesignal"
I am using Below Plugins and Latest android, cordova and plugin:
cordova-admob-sdk 0.24.1 "AdMob SDK"
cordova-plugin-admob-free 0.27.0 "Cordova AdMob Plugin"
cordova-plugin-inappbrowser 4.0.0 "InAppBrowser"
cordova-plugin-network-information 2.0.2 "Network Information"
cordova-plugin-splashscreen 6.0.0 "Splashscreen"
cordova-plugin-whitelist 1.3.4 "Whitelist"
cordova-plugin-x-socialsharing 5.6.8 "

[2020-08-04 18:15] jkasten2 commented on #134
@ajaymalik14 Could you provide the following details?
1. Cordova version you are using
2. Narrow down the exact plugin the is causing build issue. Can you remove one at a time to find plugin causing the build issue?

[2020-08-13 08:45] beebase commented on #110
This is becoming critical. Google is going to force upgrade api level 29 soon.

`OneSignalPlugin: WARNING: OneSignalPlugin: Downgraded 'com.android.support:28.0.0' -> 28 to prevent compile errors! Recommend updating your project's compileSdkVersion!`

[2020-08-17 16:18] chancezeus commented on #110
This has become critical in the meantime since Google has started requiring use of api level 29. The cause of the problem is here https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/master/src/main/groovy/com/onesignal/androidsdk/GradleProjectPlugin.groovy#L532 and here https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/master/src/main/groovy/com/onesignal/androidsdk/GradleProjectPlug

[2020-08-17 17:23] chancezeus commented on #110
Just to let you know, I verified locally this works by simply adding a ```+ ".+"``` to both lines, will add a PR against my test repo for it...

[2020-08-17 21:39] beebase commented on #110
In fact, there was another cordova payment plugin causing the one signal plugin to throw the 28 warning. After removing the payment plugin, everything compiled ok with API 29.

[2020-08-20 10:36] rborn commented on #110
@chancezeus thanks for this, do you know how we can use this in an existing project (react-native)  where some other module depends on this one?
😻

[2020-08-20 10:42] chancezeus commented on #110
Unfortunately the only solution I found is to "install" the gradle plugin to local maven repo and modify the gradle file that includes it... As long as maintainers don't release new version to maven it's probably the only solution...

[2020-08-20 10:46] rborn commented on #110
@chancezeus thank you

@jkasten2 can we do something about this?

[2020-08-20 13:15] rborn commented on #110
@chancezeus could you explain how you did it ? My android-fu is non-existent 😅 😻

[2020-08-20 13:24] chancezeus commented on #110
Basically I followed these steps: https://github.com/OneSignal/OneSignal-Gradle-Plugin/blob/master/build.gradle#L93

For the specifics of updating it in the react-native plugin, you'd have to check with a dev that knows about that, for Cordova I can simply edit the relevant file at ```plugins/onesignal-cordova-plugin/build-extras-onesignal.gradle```, which would become:
[code]

For React Native yo

[2020-08-20 21:20] Jay031 commented on #110
Same issue here. After executing:
`ionic cordova plugin rm cc.fovea.cordova.purchase`

It works again with API lvl 29.
But I need the In App Purchase plugin.. Any ideas?

[2020-08-20 21:28] chancezeus commented on #110
I build my fix (and use the posted workaround) actually for a similar situation, so for now, that is your solution. The real solution would be a patch update of the plugin on Maven but that would depend on @jkasten2 and/or OneSignal.

I understand the general opinion regarding this (people should be using AndroidX when on api 29+), however for non-native developers using react native, cordova and/

[2020-08-21 08:23] Jay031 commented on #110
Can you help me out with this line?
`maven { url 'https://plugins.gradle.org/m2/'}`
Do I have to change it to:
`maven { url uri('../../repo') }`

Or how do I solve this? I'm not really experienced in this.
I only get this SDK 29 issue when I have the  "cc.fovea.cordova.purchase" plugin added.
If I remove that I don't get a OneSignal error anymore...

[2020-08-21 08:38] chancezeus commented on #110
As indicated in the code segment here https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/110#issuecomment-677662736 you must change it to the path where the plugin got copied to, if it's indeed in ```../../repo``` you can use that, otherwise you should put in the path that points to the exact folder where the compiled plugin resides (if (I assume windows here, but I'm not a windows user s

[2020-08-21 08:42] chancezeus commented on #110
The plugin needs to be updated to use AndroidX instead of "android.support", so if you have limited to no experience programming java and/or Android, all you can do is send put an issue on their Github asking the dev to update the plugin to use AndroidX instead of "android.support"...

[2020-08-21 08:47] beebase commented on #110
@chancezeus I replaced "cc.fovea.cordova.purchase" with "cordova-plugin-purchase".
It's a replacement for fovea and works ok. I didn't have to change any code.

https://github.com/j3k0/cordova-plugin-purchase/issues/1086

[2020-08-27 02:18] exneval commented on #110
any updates of #135 ?

[2020-08-27 05:38] Jeonhesung commented on #122
same problem .....

[2020-08-29 08:51] Topiya commented on #110
@chancezeus I am using one-signal plugin in ionic 5 project and facing same issue. Currently build-extras-onesignal.gradle file is same like you have described. But still getting same error. Is there any solution for this ?

[2020-09-14 18:43] dariocarbone commented on #110
any chanche someone could indicate a correct path in windows cordova environment? i was unable to find the repo directory anywhere .... thank you

[2020-09-15 09:20] starsep opened #136 "Firebase IncompatibleIidVersion lint error"
<details>
  <summary>Project Setup</summary>

`build.gradle`

[code]

`app/build.gradle`

[code]

`coreAndroid/build.gradle`

[code]

</details>

<details>
  <summary>Error</summary>

[code]

</details>

<details>
  <summary>Dependency Tree</summary>

[code]

</details>

I tried adding `implementation("com.google.firebase:firebase-iid:19.0.0")`, as expected lint fails.
And `implementation("com.goo

[2020-09-18 13:44] starsep commented on #136
We finally went with Firebase Cloud Messaging.

[2020-09-18 13:44] #136 closed

[2020-09-25 22:48] andre-vm commented on #136
Just in case someone else has this problem.. `implementation 'com.google.firebase:firebase-iid:20.1.5'` both solved the lint error and avoided the runtime error.

[2020-09-29 15:24] gauravpitaliya commented on #110
I think changes to be needed that are fixed in #92 . In the file - src/main/groovy/com/onesignal/androidsdk/GradleProjectPlugin.groovy and line no - 506 and 509 should not return directly the variable (LAST_MAJOR_ANDROID_SUPPORT_VERSION). It should be - maxSupportVersionObj[LAST_MAJOR_ANDROID_SUPPORT_VERSION].

Can anyone fix this and pushed on latest version ? It will be very helpful.

[2020-10-10 20:54] jkasten2 commented on #134
@ajaymalik14 I took a 2nd pass at your log and it seems this is the root cause.
[code]

Your file `values-v२३\values-v२३.xml` isn't a valid name for Android. It needs to follow the  two-letter ISO 639-1 language code.
See Android's documentation for more details.
https://developer.android.com/guide/topics/resources/providing-resources#AlternativeResources

[2020-10-10 20:54] #134 closed

[2020-10-11 00:14] jkasten2 commented on #65
Issue was resolved by the solution note in https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/65#issuecomment-422570000

[2020-10-11 00:15] #65 closed

[2020-10-12 21:55] #132 closed

[2020-10-12 22:55] jkasten2 commented on #110
This is now fixed in the latest 0.12.9 release!
Thanks for the reports and thanks to @chancezeus PR #135 to fix this
https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.9

[2020-10-12 22:55] #110 closed

[2020-10-14 12:48] rborn commented on #110
@jkasten2 sorry to continue with this, but I still seem to have the issue.
I'm using the react-native module 3.9.1.

I there anything I need to do to make use of the last version?

[2020-10-19 15:07] Barlium commented on #37
Can someone help me with the gradle build error? I tried reproducing all above mentioned steps, including the disabledVersion Check Flag, but its not working.
Output when I try to build:
`flutter build apk
You are building a fat APK that includes binaries for android-arm, android-arm64, android-x64.
If you are deploying the app to the Play Store, it's recommended to use app bundles or split the AP

[2020-10-29 20:13] jkasten2 commented on #110
@rborn Per step 3.2 ensure you have updated to the latest and have done a clean build.
https://documentation.onesignal.com/docs/react-native-sdk-setup#step-3---install-for-android-using-gradle-for-android-apps

[2020-11-02 11:17] justjcool commented on #37
I am facing the same issue. did you found any solution?

[2020-11-02 11:18] Barlium commented on #37
So far I didnt 🙁

________________________________
Von: justjcool <notifications@github.com>
Gesendet: Montag, 2. November 2020 12:17
An: OneSignal/OneSignal-Gradle-Plugin <OneSignal-Gradle-Plugin@noreply.github.com>
Cc: Barlium <mathias.bauer@live.de>; Comment <comment@noreply.github.com>
Betreff: Re: [OneSignal/OneSignal-Gradle-Plugin] com.google.gms:google-services Compatibility Issue - com.goo

[2020-11-02 12:32] justjcool commented on #37
I'm trying to fix this from the last 3 days. tried each and every solution but did not work.

[2020-11-09 14:38] codex-pro opened #142 "Unable to load Maven meta-data from https://plugins.gradle.org/m2/gradle/plugin/com/onesignal/onesignal-gradle-plugin/maven-metadata.xml."
## Please Add The Following
buildscript {
    repositories {
        // ...
        maven { url 'https://plugins.gradle.org/m2/' } // Gradle Plugin Portal
    }
    dependencies {
        // ...
        // OneSignal-Gradle-Plugin
        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.12.6, 0.99.99]'
    }
}

apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'

def l

[2020-12-05 21:44] jkasten2 commented on #142
Thanks for reporting. It look at a look at Gradle's status page and they note there was an incident on Nov 09 that effected plugins.gradle.org.
https://status.gradle.com/incidents/gjxtwf5hshjl

I can confirm https://plugins.gradle.org/m2/gradle/plugin/com/onesignal/onesignal-gradle-plugin/maven-metadata.xml is loading correctly right now so closing this issue as resloved.

[2020-12-05 21:44] #142 closed

[2020-12-05 23:42] jkasten2 commented on #37
@justjcool @Barlium The important part of the error message is this part
[code]
This means you need to do one of the following:
 * Upgrade `com.google.android.gms:play-services-vision` to something newer than `20.0.0`
 * Downgrade `play-services-vision-common` to `19.0.2`
 * Add `disableVersionCheck` to your `app/build.gradle` noted in https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/37

[2020-12-31 17:44] Barlium commented on #37
@jkasten2 Thanks! Worked.
In the app level build.gradle-file I added unter dependencies{...} the specific implementations shown in my error messages.
For the error message
`
Dependency failing: com.google.android.gms:play-services-vision:20.0.0 -> com.google.android.gms:play-services-vision-common@[19.0.2], but play-services-vision-common version was 19.1.0.
`
I added
`    implementation 'com.goog

[2021-01-08 20:09] robpinto opened #150 "error during build OneSignal Warning: Could not get AGP plugin version"
My Ionic App did build corectly with androi-cordova 8.1.0, but starting from today it gives these error. Tried to remove Platform and/or plugin and various versions of gradle, but nothing changes.

### Project Setup
`build.gradle`

[code]

`app/build.gradle`

[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`

[code]

[2021-01-08 20:55] jkasten2 commented on #150
@robpinto Do you get any other errors or warnings of the one you list?

OneSignal Warning: Could not get AGP plugin version

It indicates this is an error but this should not interrupt the build process and it should continue so this isn't the root cause of the build failure.

[2021-01-11 05:03] devgithub43 commented on #150
Same error here, starting today when I updated an app:

`> cordova build android --release
cordova-plugin-androidx-adapter: Processed 144 Java source files in 1955ms
Preparing Firebase on Android
Checking Java JDK and Android SDK versions
Subproject Path: CordovaLib
Subproject Path: app
Starting a Gradle Daemon (subsequent builds will be faster)

Error 'Plugin-Version' of 'unspecified' for 'com.an

[2021-01-11 16:46] robpinto commented on #150
The build finished but the app did not receive notifications.
But after removing/readding platform Android on Ionic, it now works, even if error message is still present during build process.

[2021-01-15 00:34] jkasten2 commented on #150
@robpinto Thanks for the details, glad to hear things are working for you now.

@devgithub43 There are a number of reasons why a notification would not be shown on the device when OneSignal reports it was successfully sent do the device. I recommend following this troubleshooting guide for this.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#android-

[2021-01-26 12:08] bilogate commented on #150
Same problem for me too
Error 'Plugin-Version' of 'unspecified' for 'com.android.build.gradle.AppPlugin@30aa0787' is not a valid version number
OneSignal Warning: Could not get AGP plugin version

[2021-01-27 18:05] luan-nvg commented on #150
I have the same problem

[2021-02-02 08:30] mayankpw commented on #150
me too have the same problem

[2021-02-02 18:51] dom-velloso commented on #150
Same here

[2021-02-23 18:59] Aarbel commented on #150
have you found a solution since 3 weeks ?

[2021-02-23 23:19] luan-nvg commented on #150
guys I found that the react native version 0.60 is not working, so I had to update my project to 0.63 (the newest version of react native), now it is working.

[2021-03-03 12:22] sehgalneha commented on #150
same problem here

[2021-03-05 21:16] pabloalcaraz commented on #150
Same here

[2021-03-07 19:47] marb2501 commented on #150
I have the same problem. Please, if anyone has the solution. In my case the project is in IOnic 5 with angular.

[2021-03-07 23:51] jkasten2 commented on #150
This error doesn't interrupt the build process as this plugin moves on and assumes you have a new enough version.

If you are having any issue with OneSignal I recommend checking the full log for any other errors or warnings. Please open a new issue with all the details and we can take a look.

[2021-03-10 07:08] sehgalneha commented on #150
i have tried this

ionic cordova plugin add cordova-plugin-androidx
ionic cordova plugin add cordova-plugin-androidx-adapter

Working fine Now.

[2021-03-10 11:33] sbellver commented on #150
@sehgalneha I'm on Cordova 9.0 and  cordova-plugin-androidx is for < 9.0

cordova-plugin-androidx-adapter is installed fine, however.

But still the error:

`Error 'Plugin-Version' of 'unspecified' for 'com.android.build.gradle.AppPlugin@1832e037' is not a valid version number
OneSignal Warning: Could not get AGP plugin version
`

[2021-03-11 12:48] 2diegoduque commented on #150
Me too have the same problem

[2021-03-19 15:47] JanahiX commented on #150
Same here

[2021-03-23 11:44] actcmsvn commented on #150
me too :(

[2021-03-23 12:01] AndreiLN commented on #150
I solved changing `android/app/build.gradle` buildscript to:
[code]
AND moving this code to top:
[code]
![image](https://user-images.githubusercontent.com/24460631/112143181-4c93de80-8bb6-11eb-99aa-e9dbd33d5c56.png)

[2021-03-24 18:00] luisllanos9 commented on #150
Me too, but with ionic 6

[2021-03-24 18:15] jkasten2 commented on #150
You can safely ignore this warning, it does not affect the rest of the build.
[code]

If you build is failing then looking below this error, there will be a different root cause.

[2021-03-24 18:25] luisllanos9 commented on #150
In my case works! With Ionic 6 and Cordova 9.0. But I do some things before, like delete and reinstall platforms and node_modules, and update Gradle to 7.0. Tell me if that works for you.

[2021-03-24 20:21] 2diegoduque commented on #150
Hello, it is actually not a onesignal problem, the warning comes out, it should allow compiling.

The problem in my case in is that in:
`/android/app/src/main/AndroidManifest.xml`

this line was duplicated:

`<uses-feature android: name = "android.hardware.location.gps" android: required = "true" />`

There were two puglings that used "Geolocation" and "GoogleMaps"

You can do a search in the plug

[2021-03-24 20:23] paisa5599 commented on #150
Thanks ! That works for me !

[2021-04-08 13:37] vshivam opened #151 "org.gradle.api.plugins.InvalidPluginException: After recent Android Canary update (2020.3.1 Canary 14) - Most likely Gradle 7.0 compatibility issue"
After updating to the latest Android Studio Canary build: Android Studio Arctic Fox | 2020.3.1 Canary 14, I am unable to use the one signal plugin anymore.

The latest canary build forces the use of `gradle-7.0-rc-1` along with the gradle plugin: `com.android.tools.build:gradle:7.0.0-alpha14`

 This is the exact exception:
`org.gradle.api.plugins.InvalidPluginException: An exception occurred apply

[2021-04-12 04:20] AlfredAndroidTedmob commented on #151
Same here _(below is more of the stack trace just in case_):

An exception occurred applying plugin request [id: 'com.onesignal.androidsdk.onesignal-gradle-plugin']
-> Failed to apply plugin 'com.onesignal.androidsdk.onesignal-gradle-plugin'.
   -> Could not create plugin of type 'GradleProjectPlugin'.
      -> java.lang.ExceptionInInitializerError (no error message)

org.gradle.api.plugins.Invali

[2021-04-12 04:34] jkasten2 commented on #151
@vshivam Thanks for reporting.

@AlfredAndroidTedmob Thanks for the fullstack trace, digging into it, and summarizing the cause.

## Issue
It looks like Gradle 7.0 made breaking changes to APIs this plugin is using based on the `Could not find matching constructor for: org.gradle.api.internal.artifacts.ivyservice.ivyresolve.strategy.DefaultVersionSelectorScheme` error. We will investigate.

## Wor

[2021-04-23 18:21] ficast commented on #150
Hi @2diegoduque I'm having same issue, but I can't find "location.gps", do you have some other tip about this?

[2021-04-23 23:43] 2diegoduque commented on #150
@ficast I recommend that vscode give it a search in the plugins folder and as a search parameter you put "location.gps" there you should see the plugins that use it, you should look at which one is not required and the other one you delete.

[2021-05-20 09:02] connyduck commented on #151
Any update on when this will be resolved? We would like to upgrade several projects to Gradle 7 but it is quite the hassle with this plugin no longer working.

[2021-05-22 04:26] dhwalin opened #152 "Failed to apply plugin"
After upgrading to gradle 7
[code]
Using Capacitor 3, ReactJS, ionic-native onesignal

[2021-05-22 11:54] Gautammer commented on #152
Same isssue! did you found solution?

[2021-05-23 01:36] dhwalin commented on #152
Not yet. I have submitted issue to onesignal. Waiting for their reply.

[2021-05-25 21:50] crabbydavis commented on #152
Also seeing this error. I'm using Capacitor 3, Angular, and the onesignal-cordova-plugin. Tried 2.11.2, 2.11.3 and 3.0.0-beta1, and got the same error for all three.

[2021-05-26 03:17] dhwalin commented on #152
For some packages only I have to switch to Gradle 7. Working in Gradle 6.*.*. So if developers do not need 7 for any other package, they can switch to lower version of gradle.

[2021-05-26 18:23] alainm23 commented on #152
I'm using `Capacitor 3`, `Ionic 5`, `onesignal-cordova-plugin@2.11.1`, `@ionic-native/onesignal@5.30.0` and I just downgraded to gradle to version 6 and everything worked fine.

File -> Project Structure -> Project

![image](https://user-images.githubusercontent.com/33765137/119711844-994d9d00-be25-11eb-86ff-4beb58d50e59.png)

[2021-05-26 22:27] crabbydavis commented on #152
@dhwalin  @alainm23 thanks for the help! My project is running with Gradle 6. Guess I'll run with that until One Signal gets the plugin working with Gradle 7

[2021-05-27 03:49] Gautammer commented on #152
Oh i didn’t had time , so i gone with cordova..

[2021-05-31 09:11] iamAliRaza opened #153 "java.lang.SecurityException: Not allowed to bind to service Intent"
**OneSignalChromeTab.java line 56
com.onesignal.OneSignalChromeTab.open**

Fatal Exception: java.lang.SecurityException: Not allowed to bind to service Intent { act=android.support.customtabs.action.CustomTabsService pkg=com.android.chrome }
       at android.app.ContextImpl.bindServiceCommon(ContextImpl.java:1741)
       at android.app.ContextImpl.bindService(ContextImpl.java:1651)
       at andr

[2021-06-02 17:20] Rahul7raj commented on #150
Try to use these versions:
npm i onesignal-cordova-plugin@2.11.3
npm i @ionic-native/onesignal@5.31.1

this solved my issue, i think this problem occur because current latest version of onesignal cordova plugin is 3.0.0(beta1) so because of this is beta version so i think this problem is occurring now.

try to install previous versions,

[2021-06-05 02:25] Pitam-Poudel commented on #151
I am having the same issue
`An exception occurred applying plugin request [id: 'com.onesignal.androidsdk.onesignal-gradle-plugin', version: '0.12.10']
	at org.gradle.plugin.use.internal.DefaultPluginRequestApplicator.applyPlugin(DefaultPluginRequestApplicator.java:192)
	at org.gradle.plugin.use.internal.DefaultPluginRequestApplicator.lambda$applyLegacyPlugins$3(DefaultPluginRequestApplicator.java:

[2021-06-09 15:01] Elardzhi commented on #152
Works on Gradle 6.9.
Capacitor 3 recommends using Gradle 7. Waiting OneSignal to be updated.

[2021-06-09 19:37] ba6ba commented on #152
Are we going to have any update on this. OneSignal Team?

[2021-06-10 13:16] sleith opened #157 "Version 0.13.0 not found"
Hi,
Seems the new version 0.13.0 is not published to plugins.gradle.org yet.
https://plugins.gradle.org/plugin/com.onesignal.androidsdk.onesignal-gradle-plugin shows latest is 0.12.10.

Please help. Thanks

[2021-06-11 04:37] jkasten2 commented on #157
@sleith Thanks for reporting! We have resolved the issue with a 0.13.2 release. For more details on why 0.13.0 and 0.13.1 isn't available see PR #160.

One caveat is that you have to use an exact version of 0.13.2 to get this version. Version ranges won't pick up this version yet due the fact that the Gradle Plugin Portal hasn't update the [OneSignal maven-metadata.xml](https://plugins.gradle.org/

[2021-06-11 04:37] #157 closed

[2021-06-11 17:33] tejprakashtiwary opened #161 "Getting this issue while building android build in react native"
[code]

[2021-06-11 17:33] danielehrhardt commented on #161
Same Problem here

[2021-06-11 17:51] fpanizza opened #162 "Error using plugin version 0.13.2"
I get this error building a project that use OneSignal Gradle Plugin.

The error is using version 0.13.2 , is not present in 0.12.10.

Did you know why it could happend?

### Project Setup
`build.gradle`
`dependencies {
     ...
        // OneSignal-Gradle-Plugin
        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.12.10, 0.99.99]'
    }
[code]

[2021-06-11 18:02] jkasten2 commented on #162
@fpanizza Thanks for reporting! Could you also share the following details.
1. Gradle version
2. Android Studio version (if this applies)
3. Your full root `build.gradle`.
4. Your full `app/build.gradle`.

[2021-06-11 18:09] beisert1 commented on #161
Same issue here, just started today with no changes made.

[2021-06-11 18:11] apps-auth commented on #162
I am having the exact same problem. I ran the app today and it just doesn't work.

[2021-06-11 18:14] apps-auth commented on #162
3. Your full root build.gradle:

[code]
4. app/build.gradle:

[code]

[2021-06-11 18:14] Hless commented on #162
Temporary fix described here (for react-native, but works the same):
https://github.com/OneSignal/react-native-onesignal/issues/1246

[2021-06-11 18:14] Hless commented on #161
Temporary fix described here (for react-native, but works the same):
https://github.com/OneSignal/react-native-onesignal/issues/1246

[2021-06-11 19:39] jkasten2 commented on #162
This was due to an unintentional Java 11 requirement introduced in 0.13.2. Some internal dependencies to OneSignal-Gradle-Plugin where updated which automatically intruded the version bump. We have lowered the Java JVM requirement back down to version 8 in [Release 0.13.3](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.3).
   - Make sure to re-sync Gradle in Android Studio

[2021-06-11 19:39] #162 closed

[2021-06-11 19:40] jkasten2 commented on #161
Thanks for reporting!
This was due to an unintentional Java 11 requirement introduced in 0.13.2. Some internal dependencies to OneSignal-Gradle-Plugin where updated which automatically intruded the version bump. We have lowered the Java JVM requirement back down to version 8 in [Release 0.13.3](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.3).
   - Make sure to re-sync Gra

[2021-06-11 19:40] #161 closed

[2021-06-12 01:25] jkasten2 commented on #150
The false positive `OneSignal Warning: Could not get AGP plugin version` warning has been fixed in [version 0.13.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.0). Note, that [version 0.13.4](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.4) is recommended however.

If you are seeing any other errors or warning please open a new issue here if it i

[2021-06-12 01:25] #150 closed

[2021-06-12 01:31] jkasten2 commented on #152
Thanks for reporting!
Gradle 7 compatibility has been added in [version 0.13.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.0).
   - Note, that [version 0.13.4](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.4) is recommended however.

This version should automatically be available then next time you do a clean build.

[2021-06-12 01:31] #152 closed

[2021-06-12 01:32] jkasten2 commented on #151
Gradle 7 compatibility has been added in [version 0.13.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.0).
   - Note, that [version 0.13.4](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.4) is recommended however.

This version should automatically be available then next time you do a clean build.

[2021-06-12 01:32] #151 closed

[2021-06-12 10:25] noorbakerally opened #168 "Could not resolve gradle.plugin.com.onesignal:onesignal-gradle-plugin"
Since yesterday night, I am getting the problem below with a flutter project. The issue is that I did not change anything so I have no idea what to rollback.

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error

[code]

**Dependency Tree**
Cannot put dependency tree here, too long, i placed it in a google doc, here is the [link](https://docs.google.com/document/d/1rO

[2021-06-16 04:39] jkasten2 commented on #168
@noorbakerally Thanks for reporting. This was fixed in [version 0.13.3](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.3). However [version 0.13.4](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.13.4) needs to be used to fully run with Java 8.

[2021-06-16 04:39] #168 closed

[2021-06-16 23:39] iXane opened #169 "Receiver class com.onesignal.androidsdk.GradleProjectPlugin does not define or inherit an implementation of the resolved method 'abstract java.lang.Object getProperty(java.lang.String)' of interface groovy.lang.GroovyObject."
Hi!

Hope everyone is well, since last Thursday or so, my project won't compile in android studio.  I've been getting the Error on the title, this error comes out immediately. I'm unable to sync gradle, clean or rebuild. the project. Nothing was changed on the project.

The Project is buiilt on Ionic Capacitor 2/Angular.

I've tried many troubleshooting, invalidating cache, changing Gradle and AGP

[2021-06-22 20:44] iXane commented on #169
Anyone?

[2021-06-25 18:35] jmoraw7 commented on #169
Same problem here.

[2021-07-07 12:49] HammiMaggy opened #172 "NumberFormatException for Android 12 (targetVersion = S)"
## Please Add The Following
Due to the change from numbers (31) to letters (S) for the `targetVersion`, we run into a `NumberFormatException`.

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`
[code]

[2021-07-09 10:04] mamonraab commented on #91
thank you and this solved my problem , must update onesignal document for this

[2021-07-09 20:05] josemmora commented on #169
Anyone?

[2021-07-16 11:50] #172 closed

[2021-07-16 11:51] HammiMaggy commented on #172
resolved with new sdk release

[2021-07-19 12:52] ubarua123 opened #173 "OneSignal plugin increases gradle build time by a considerable amount"
## Please Add The Following

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
Run `./gradlew app:dependencies`
[code]

### OneSignal plugin version
[code]

### OneSignal SDK version
[code]

[2021-07-20 18:27] jkasten2 commented on #173
@ubarua123 We will need details on the time differences you are seeing to investigate.

Can you run `./gradlew build --scan`?  This will provide a report on time it takes for each task. Please provide one without the OneSignal Gradle Plugin and another with it to compare.

More details on this on Gradle's documentation: https://scans.gradle.com/

[2021-07-21 11:12] ubarua123 commented on #173
I ran a `./gradlew build --scan` **without** the OneSignal plugin and SDK - It took `2m 34s` to complete

**With** the plugin and SDK - `6m 50s`

It takes a lot of time in these tasks like
[code]

and so on .. These tasks are not executed without including OneSignal.  I believe it's trying to sync the dependancies _each time_
One workaround is I run Gradle on offline mode which prevents these task

[2021-08-03 15:25] maddockst opened #174 "Gradle Duplicate Classes"
## Please Add The Following

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

I am building a NativeScript project. I have been using `@nativescript/firebase` in the project, successfully, for some time. I have since tried to add OneSignal Android SDK to the project and I received the following error:

[code]

I then tried adding the gradle plugin, thinking this could solve it a

[2021-08-03 15:36] maddockst commented on #174
Appears identical to the issue highlighted here:

https://stackoverflow.com/a/67699825/1666769

[2021-08-03 16:11] #174 closed

[2021-08-23 00:57] gelinger777 opened #175 "Cordova SDK Is Failing with AppVersion Error"
Hi Gradle Team,
could you please have a look at https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/709 ? I think the problems here come from your Gradle Plugin/Solution.
Could you propose a solution ? Because even downgrading does not help.

[2021-09-01 23:28] tavosansal commented on #169
Same problem

[2021-09-20 06:54] michaelchanov commented on #151
Go to the website and just follow the words that are written there. I fixed it the kind of way. Thank God :)
https://github.com/OneSignal/OneSignal-Gradle-Plugin

[2021-09-30 09:20] GuillermoVA opened #176 "Build error: Duplicate class com.google.firebase"
Failed build: Duplicate class com.google.firebase

### Project Setup
// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    ext {
        buildToolsVersion = "29.0.3"
        minSdkVersion = 21
        compileSdkVersion = 29
        targetSdkVersion = 29
        ndkVersion = "20.1.5948944"
    }
    repositories {
        google()

[2021-10-08 00:15] rgomezp opened #177 "Firebase dependency issue with react-native-camera package"
See [this issue](https://github.com/OneSignal/react-native-onesignal/issues/1286#issuecomment-924391806)

[2021-10-26 08:09] miqbal1997 opened #178 "One signal manifest merge issue on android 12 (Api level 31)"
## Please Add The Following

### Project Setup
`build.gradle`
[code]

`app/build.gradle`
[code]

### Full Error
[code]

### Dependency Tree
[code]

[2021-10-30 02:24] jmatlack-rpb commented on #176
We see this same issue in our app, seemingly due to a conflict with Google's barcode scanning library `com.google.android.gms:play-services-mlkit-barcode-scanning:17.0.0`

[code]

[2021-11-08 08:58] cmargonis opened #179 "Question about not using the plugin"
Hello folks 👋 ,

I'd like to ask about the necessity of this plugin. Given our team uses Firebase BOM that ensures Firebase libraries work well together, we're thinking of removing the One Signal gradle plugin, so as to improve build times.

Any thoughts on this? Will we have to pay attention to anything other than just testing our OneSignal push notifications with each update?

Thanks!

[2021-11-09 05:33] AlfredAndroidTedmob opened #180 "Incompatibility with Dagger Hilt's enableAggregatingTask"
### Project Setup
`build.gradle` (some information changed or removed because this is our company's code)
[code]

`app/build.gradle` (some information changed or removed because this is our company's code)
[code]

### Full Error
[dagger-2.40-syncing-issue](https://github.com/google/dagger/files/7472524/dagger-2.40-syncing-issue.txt)

#### Short version
On gradle sync, the compiler is failing and r

[2021-11-22 09:19] jkasten2 commented on #179
Hey @cmargonis 👋 , thats a good question. This Gradle plugin is recommend but isn't required for the [OneSignal-Android-SDK](https://github.com/OneSignal/OneSignal-Android-SDK) to work correctly.

This plugin currently only checks and fix dependencies that are too low or too high to prevent build or runtime issues. As you noted since you are using the Firebase BOM to define you dependencies the ch

[2021-11-22 09:19] #179 closed

[2021-11-23 03:29] jkasten2 commented on #178
@miqbal1997 Thanks for reporting. If you are using `targetSdkVersion 31` you must update to [`OneSignal-Android-SDK` 4.6.2 or newer](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/4.6.2).

It looks like you are on a 3.x.x version of OneSignal-Android-SDK, you can follow this migration guide on updating to the 4.x.x version:
https://documentation.onesignal.com/docs/step-by-step-and

[2021-11-23 03:29] #178 closed

[2021-12-13 16:12] matteinn commented on #173
Same here, this plugin only adds up 45 seconds average to the build time

[2021-12-15 07:07] aZyreTech commented on #176
Any solution?
I am also facing the same issue with one signal and Google's barcode scanning library.

[2022-01-06 08:50] kroegerama commented on #180
Thanks for opening this issue. This was really hard to find; had to gradually remove the Gradle plugins and of course it was OneSignal.

@jkasten2 do you have an ETA for a fix?

[2022-01-07 13:45] dhavallogistic commented on #176
Any solutions?

I am facing the same issue in React native.
I have integrated One signal & vision-camera-code-scanner (which is using google's mlkit scanner) for Barcode scanning.

Tried @aZyreTech solutions, not worked for me.
App crashed at the launch time due to One signal could not register app (firebase missing)

[2022-01-26 02:35] rafael2412 commented on #176
@dhavallogistic or @aZyreTech any solution? I'm facing the same issue with one signal and react-native-camera when i try to enable mlkit.

[2022-01-26 13:11] dhavallogistic commented on #176
@rafael2412

Yes as workaround I got this and it worked ..

Android: app-build-gradle file
[code]

With above code my application is working fine with both Notification functionality and Scan QR and Barcode with MLKit.

[2022-01-26 15:01] rafael2412 commented on #176
@dhavallogistic it's working, I've been working with it for a long time.
Thanks.

[2022-02-06 12:19] janbolat commented on #180
Any updates?

[2022-02-06 18:10] dineralex opened #184 "Flutter 2.10 build faled"
Please read here:
https://stackoverflow.com/questions/71003124/flutter-cannot-run-project-afterevaluateclosure-when-the-project-is-already-ev/71009865#71009865

[2022-02-06 20:17] bluemix commented on #184
I hope there are updates to this issue

[2022-02-06 20:57] Aksoyhlc commented on #184
I moved the code "classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.12.6, 0.99.99]'" into "android/build.gradle" and added the onesignal in "android/app/build.gradle" I deleted the codes and it was fixed. There is no problem with the notification process, it continues to work.

Just add **_apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'_** to "android/app/build.gra

[2022-02-06 20:59] bluemix commented on #184
did not worked with me :/

[2022-02-06 21:17] Aksoyhlc commented on #184
Can you share the content of "android/app/build.gradle" file

[2022-02-07 06:01] dineralex commented on #184
Looks like there is dependecy of onesignal plugin on flutter_tools. The solution is to place onesignal plugin after it in the sequence in the "android/app/build.gradle":

apply from: "$flutterRoot/packages/flutter_tools/gradle/flutter.gradle"
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'

[2022-02-09 03:34] vietlinhtspt commented on #184
Worked for me.

[2022-02-09 17:34] saurabhdtu commented on #184
@dineralex One signal's documentation specifically says to keep the plugin above the `apply plugin: 'com.android.application`
https://documentation.onesignal.com/docs/troubleshooting-android#warning-the-onesignal-gradle-plugin-must-be-before-comandroidapplication

And flutter gradle has to be kept after this `apply plugin: 'com.android.application`
So if you change this order of plugins, the notif

[2022-02-09 17:44] saurabhdtu commented on #184
Getting
```Caused by: org.gradle.api.InvalidUserCodeException: Cannot run Project.afterEvaluate(Closure) when the project is already evaluated.```
When adding this in app/build.gradle
[code]
However if the order of the one signal plugin is moved after flutter gradle, the error doesn't come, but the notifications aren't delivered in release signed apk.
And the reason behind not using the one signal

[2022-02-10 04:41] saurabhdtu commented on #184
Worked for me on removing the plugin from app/build.gradle. Just having the classpath in project/build.gradle and the library dependency app/build.gradle.

[2022-02-10 13:34] mamonraab commented on #184
to me i  fix this by upgrading the kotlin  in android\build.gradle from

`ext.kotlin_version = '1.3.50'`
to

`ext.kotlin_version = '1.4.32'`

then i did
`flutter clean`
and  all work

[2022-02-11 08:56] whoisiswhowhois commented on #173
Any updates on this issue? We are having same problem, build times increased enormously.

[2022-02-11 23:22] jkasten2 commented on #169
@josemmora @tavosansal @iXane You can safely ignore the following message in your build log:
[code]
See more details here on this https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/709#issuecomment-911975291

@iXane Since you are using Ionic Capacitor which uses the OneSignal-Cordova-SDK it automatically includes the integration for this Gradle plugin, see:
https://github.com/OneSignal/OneS

[2022-02-11 23:22] #169 closed

[2022-02-12 16:03] bluemix commented on #184
none of the above worked with me :/

[2022-02-13 08:00] rabihmb commented on #184
I upgraded to 4.6.7 `implementation 'com.onesignal:OneSignal:4.6.7'` and placed the

`apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'`
after
`apply from: "$flutterRoot/packages/flutter_tools/gradle/flutter.gradle`

Problem Solved for me!

[2022-02-16 01:27] westy92 commented on #184
@rabihmb does that just allow it to compile, or do push notifications work with a release-signed build? (That's been reportedly still an issue with your proposed solution.)

[2022-02-17 12:28] mobinyardim commented on #180
Same problem!!

[2022-02-24 13:22] puderty opened #185 "There's memory leak in plugin"
in GradleProjectPlugin, there's a static reference to project, this would cause memory leak.
We should not keeps a static ref to it.

I have a fix in https://github.com/puderty/OneSignal-Gradle-Plugin/tree/fixleak

[2022-02-25 19:12] dgilperez commented on #184
Nothing of the workarounds here works for us. We're forced to move down to flutter 2.8 and kotlin 1.5, but this is causing other kinds of trouble.

I'd like to kindly ping @jkasten2 in case you're not aware of this particular bug. I assume this is preventing everyone to upgrading flutter, or I'd be happy to learn a working recommended workaround.

[2022-03-08 03:14] jkasten2 commented on #184
## Update
Thanks for reporting, we will look into the issue.

## Workaround
In the meantime you can omit this Gradle plugin (`onesignal-gradle-plugin`), you may not have any conflicting versions of Firebase or other libraries this plugin is designed to solve. If you do, the alternative is to resolve them manually by upgrading or downgrading the libraries causing issues.

If you need help resolving

[2022-03-08 08:59] anniewey commented on #176
I'm getting same error when build with `react-native-vision-camera:2.12.1` but couldn't get it to work with above solution. Any idea?

        exclude group: 'com.google.firebase'  // -->> Only exclude this group
    }

[code]

[2022-03-08 19:28] jkasten2 commented on #176
The root of the issue some versions of `firebase-components` & `firebase-common` are not compatible with each other. The recommend way to fix this would be to upgrade the older root dependency that is requesting the older version. So in the  case of @GuillermoVA

`firebase-messaging` is requesting `firebase-common:20.0.0`
[code]

And `com.google.android.gms:play-services-mlkit-barcode-scanning:16.

[2022-03-09 02:53] jkasten2 commented on #185
@puderty Thanks for reporting! We will look into cleaning this up.

[2022-03-10 05:33] dhavallogistic commented on #176
@anniewey

.```
..
Duplicate class com.google.firebase.components.AbstractComponentContainer found in modules jetified-firebase-common-18.0.0-runtime (com.google.firebase:firebase-common:18.0.0) and jetified-firebase-components-16.1.0-runtime (com.google.firebase:firebase-components:16.1.0)
Duplicate class com.google.firebase.components.Component found in modules jetified-firebase-common-18.0.0-ru

[2022-03-10 05:35] dhavallogistic commented on #176
Did you use any other Firebase or Google lib in your project?

[2022-03-10 06:29] anniewey commented on #176
@dhavallogistic just from this library `react-native-vision-camera` but I already solved it by using firebase bom

[code]

[2022-03-10 06:36] dhavallogistic commented on #176
The reason behind above error is you are importing 2 libs from the same packages with two different approach.
I am not sure for this but try to add  `firebase-bom` package explicitly same like this
[code]
Remove all other firebase importing for testing.

Thanks

[2022-03-28 17:21] westy92 commented on #184
@jkasten2 any update on this?

[2022-04-24 20:42] uj commented on #184
6 weeks later... any update on this???

[2022-04-24 22:41] Aksoyhlc commented on #184
@jkasten2 any update on this?

[2022-04-24 22:55] jkasten2 commented on #184
@westy92, @uj, and @Aksoyhlc
There has been some investigation and a rewrite of this plugin to use the newer Gradle `ComponentMetadataRule` API. This should solve this issue, as well as a number of the other open issues, while greatly simplifying the code and performance of this plugin. However, we don't have an ETA on this at this time.

However [as noted above](https://github.com/OneSignal/OneSi

[2022-04-24 23:08] Aksoyhlc commented on #184
Thanks for the answer. [https://github.com/OneSignal/OneSignal-Flutter-SDK/issues/462](https://github.com/OneSignal/OneSignal-Flutter-SDK/issues/462)  is there going to be an update in this, it's a very important issue.

[2022-05-02 09:56] dgilperez commented on #184
@jkasten2 I am a bit confused about your latest message

I am not sure that means we can just drop the plugin. Dependency mismatches sounds like a dangerous thing. What dependency mismatches precisely? Can we update firebase dependencies freely? Is it possible that we see runtime errors even if the app builds, depending on particular firebase versions?

Before pouring costly dev hours to find thos

[2022-05-02 18:59] jkasten2 commented on #184
@dgilperez We have seen less incompatibility issues with `firebase-messaging` [version 22](https://firebase.google.com/support/release-notes/android#messaging_v22-0-0) and newer, which the OneSignal-Android-SDK switched to in [version 4.4.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/4.4.0). Before this there was [a lot of conflicts](https://github.com/OneSignal/OneSignal-Grad

[2022-05-02 19:15] dgilperez commented on #184
Thanks a lot for your thorough response @jkasten2 - we will take it from there.

[2022-05-12 13:48] fmdogan commented on #184
how to integrate android sdk? i tried but it still doesn't open terminated app on click. and when it opens the app which is in background, it restarts the app as new activity. i am new with native site. so please guide me. any tutorial or github repo is welcome

[2022-05-12 18:14] diego-lipinski-de-castro commented on #184
is there a simple solution to this or just not?

[2022-05-24 09:16] kappu72 opened #186 "React-native 0.68 newArchEnabled support"
## Please Add The Following
I have follow onesignal [guide](uhttps://documentation.onesignal.com/docs/react-native-sdk-setup#step-3-install-for-android-using-gradle-for-android-appsrl) to install on a react-native project based on version 0.68.2 with new architecture enabled.
On iOs it works fine.
On android it was impossible to build
Any suuggestion?

### Project Setup
`build.gradle`
[code]

`app

[2022-05-27 00:35] jkasten2 commented on #186
@kappu72 Thanks for reporting, to confirm `onesignal-gradle-plugin` is the issue can you try removing it to see if it fixes your build?

[2022-05-27 10:04] kappu72 commented on #186
Sorry for the late response, yes I confirm that removing  `apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'` I'm able to compile the app

[2022-06-06 13:53] #186 closed

[2022-06-06 20:29] krismata15 commented on #184
I change in my "android > gradle > wrapper > gradle-wrapper.properties" file the version of "distributionUrl" to "gradle-6.7.1-all.zip" and all works, even with flutter 3.

I guess is a problem with version 7 of gradle.

![gradle-wrapper.properties](https://user-images.githubusercontent.com/60048305/172243277-aa3b24fd-3c8c-45f9-8e1e-2ebe3f8041a1.png)

[2022-06-22 11:22] liamjones opened #187 "Use of plugin breaks Notifee"
When the plugin is used alongside [Notifee](https://notifee.app/) in a React Native app, the app can no longer be compiled.

See minimal repro here: https://github.com/liamjones/OneSignalGradlePluginBug

## Please Add The Following

### Project Setup
`build.gradle` (default for RN 0.68.2)
[code]

`app/build.gradle`  (default for RN 0.68.2 + OneSignal Gradle plugin addition)
[code]

### Full Error

[2022-06-22 11:24] liamjones commented on #187
Extra note, while the minimal repro is on RN 0.68.2 I originally encountered the issue on an RN 0.66.3 project. Again, the build fails but the error message is different - don't know if it's helpful:

[code]

[2022-06-23 15:39] liamjones commented on #187
Thanks @jkasten2, good to know.

[2022-06-23 15:39] #187 closed

[2022-07-03 06:48] Abdullah-Jacksi commented on #184
thank you @dineralex it worked

[2022-07-22 10:00] bunphithak commented on #184
thank you it work!

[2022-08-03 20:46] #175 closed

[2022-08-29 12:21] tel-kho commented on #184
I have seen in some answers that placing the plugin after can prevent it from working properly, is this really a solution?